---
layout: base
title: Standard drawer
---

<div class="display-flex">
  <div class="flex-grow-1">
    <div class="app-bar app-bar--sticky-top">
      <div class="toolbar">
        <div class="toolbar__title">
          Title
        </div>
        <div class="toolbar__action">
          <button type="button" class="button button--icon" data-controller="toggle" data-toggle-target="#sheet" data-toggle-action="sheet#toggle">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>
          </button>
        </div>
      </div>
    </div>

    <div class="padding">
      <% for(var i = 0; i < 100 ; i++ ) { %>
        <p>
          Main Content
        </p>
      <% } %>
    </div>
  </div>

  <div id="sheet" class="sheet" data-controller="sheet">
    <div class="sheet__content">
      <div class="padding">
        <% for(var i = 0; i < 100 ; i++ ) { %>
          <p>
            Sheet Content
          </p>
        <% } %>
      </div>
    </div>
    <div class="sheet__scrim" data-action="click->sheet#close">
    </div>
  </div>
</div>
