.badge {
  position: absolute;
  top: 0;
  left: 50%;
  background-color: var(--color-error);
  color: var(--color-on-error);
  z-index: 1;
}

.badge--small {
  padding: 4px;
  border-radius: 4px;
  margin-left: 8px;
}

.badge--large {
  padding: 0 4px;
  border-radius: 8px;
  line-height: 16px;
  font-size: 11px;
  font-weight: 500;
}
