.button {
  margin: 0;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  outline: 0;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  white-space: nowrap;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  background: transparent;
  z-index: 0;

  // Container layer
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -2;
  }

  // State layer
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0;
  }

  &:hover {
    &::after {
      opacity: var(--state-hover-opacity);
    }
  }

  &:focus {
    &::after {
      opacity: var(--state-focus-opacity);
    }
  }

  &:active {
    &::after {
      opacity: var(--state-press-opacity);
    }
  }
}

.button--disabled,
button[disabled] {
  pointer-events: none;
}

.button__icon {
  width: 18px;
  height: 18px;
  font-size: 18px;

  svg {
    height: 18px;
    width: 18px;
    fill: currentColor;
  }

  .material-icons {
    font-size: 18px;
  }

  &:first-child {
    margin: 0 8px 0 -8px;
  }

  &:last-child {
    margin: 0 -8px 0 8px;
  }
}

.button--elevated {
  color: var(--color-primary);
  line-height: 20px;
  font-size: 14px;
  padding: 10px 24px;
  border: 0;
  border-radius: 20px;
  text-align: center;
  font-weight: 500;
  box-shadow: var(--shadow-level-1);

  // Container layer
  &::before {
    background-color: var(--color-surface);
  }

  // State layer
  &::after {
    background-color: var(--color-primary);
  }

  &:hover {
    box-shadow: var(--shadow-level-2);
  }

  &:focus {
    box-shadow: var(--shadow-level-1);
  }

  &:active {
    box-shadow: var(--shadow-level-1);
  }

  &:disabled {
    color: rgba(0, 0, 0, 0.38);
    box-shadow: var(--shadow-level-0);

    &::before {
      background-color: var(--color-on-surface);
      opacity: 0.12;
    }
  }
}

.button--filled {
  color: var(--color-on-primary);
  line-height: 20px;
  font-size: 14px;
  padding: 10px 24px;
  border: 0;
  border-radius: 20px;
  text-align: center;
  font-weight: 500;
  box-shadow: var(--shadow-level-0);
  background: transparent;

  // Container layer
  &::before {
    background-color: var(--color-primary);
  }

  // State layer
  &::after {
    background-color: var(--color-on-primary);
  }

  &:hover {
    box-shadow: var(--shadow-level-1);
  }

  &:focus {
    box-shadow: var(--shadow-level-0);
  }

  &:active {
    box-shadow: var(--shadow-level-0);
  }

  &:disabled {
    color: rgba(0, 0, 0, 0.38);
    box-shadow: var(--shadow-level-0);

    &::before {
      background-color: var(--color-on-surface);
      opacity: 0.12;
    }
  }
}

.button--filled-tonal {
  color: var(--color-on-secondary-container);
  line-height: 20px;
  font-size: 14px;
  padding: 10px 24px;
  border: 0;
  border-radius: 20px;
  text-align: center;
  font-weight: 500;
  box-shadow: var(--shadow-level-0);
  background: transparent;

  // Container layer
  &::before {
    background-color: var(--color-secondary-container);
  }

  // State layer
  &::after {
    background-color: var(--color-on-secondary-container);
  }

  &:hover {
    box-shadow: var(--shadow-level-1);
  }

  &:focus {
    box-shadow: var(--shadow-level-0);
  }

  &:active {
    box-shadow: var(--shadow-level-0);
  }

  &:disabled {
    color: rgba(0, 0, 0, 0.38);
    box-shadow: var(--shadow-level-0);

    &::before {
      background-color: var(--color-on-surface);
      opacity: 0.12;
    }
  }
}

.button--outlined {
  color: var(--color-primary);
  line-height: 20px;
  font-size: 14px;
  padding: 10px 24px;
  border: 0;
  border-radius: 20px;
  text-align: center;
  font-weight: 500;
  background: transparent;

  // Container layer
  &::before {
    border: 1px solid var(--color-outline);
    border-radius: 20px;
  }

  // State layer
  &::after {
    background-color: var(--color-primary);
  }

  &:focus {
    &::before {
      border: 1px solid var(--color-primary);
    }
  }

  &.button--surface {
    &::before {
      background: var(--color-surface);
    }
  }

  &:disabled {
    color: rgba(0, 0, 0, 0.38);

    &::before {
      opacity: 0.12;
    }
  }
}

.button--text {
  color: var(--color-primary);
  line-height: 20px;
  font-size: 14px;
  padding: 10px 24px;
  border: 0;
  border-radius: 20px;
  text-align: center;
  font-weight: 500;
  background: transparent;

  // State layer
  &::after {
    background-color: var(--color-primary);
  }

  &:disabled {
    color: rgba(0, 0, 0, 0.38);
  }
}

.button--icon {
  color: var(--color-primary);
  line-height: 1;
  font-size: 24px;
  padding: 8px;
  border: 0;
  border-radius: 20px;
  text-align: center;
  font-weight: 500;
  background: transparent;

  svg {
    height: 24px;
    width: 24px;
    fill: currentColor;
  }

  .material-icons {
    font-size: 24px;
  }

  // State layer
  &::after {
    background-color: var(--color-primary);
  }

  &:disabled {
    color: rgba(0, 0, 0, 0.38);
  }
}

.button--floating-action {
  color: var(--color-on-primary-container);
  line-height: 1;
  padding: 16px;
  border: 0;
  border-radius: 16px;
  text-align: center;
  font-weight: 500;
  background: transparent;
  box-shadow: var(--shadow-level-3);

  svg {
    height: 24px;
    width: 24px;
    fill: currentColor;
  }

  .material-icons {
    font-size: 24px;
  }

  .button__icon {
    height: 24px;
    width: 24px;
    font-size: 24px;
    margin: 0 8px 0 0;
  }

  .button__label {
    margin: 4px;
  }

  &.button--small {
    padding: 8px;
    border-radius: 12px;
  }

  &.button--large {
    font-size: 36px;
    padding: 30px;
    border-radius: 28px;

    svg {
      height: 36px;
      width: 36px;
    }

    .material-icons {
      font-size: 36px;
    }
  }

  &::before {
    background-color: var(--color-primary-container)
  }

  &::after {
    background-color: var(--color-on-primary-container);
  }

  &.button--surface {
    color: var(--color-primary);

    &::before {
      background-color: var(--color-surface);
    }

    &::after {
      background-color: var(--color-primary);
    }
  }

  &.button--secondary {
    color: var(--color-on-secondary-container);

    &::before {
      background-color: var(--color-secondary-container);
    }

    &::after {
      background-color: var(--color-on-secondary-container);
    }
  }

  &.button--tertiary {
    color: var(--color-on-tertiary-container);

    &::before {
      background-color: var(--color-tertiary-container);
    }

    &::after {
      background-color: var(--color-on-tertiary-container);
    }
  }

  &:hover {
    box-shadow: var(--shadow-level-4);
  }

  &:focus {
    box-shadow: var(--shadow-level-3);
  }

  &:active {
    box-shadow: var(--shadow-level-3);
  }

  &.button--lowered {
    box-shadow: var(--shadow-level-1);

    &:hover {
      box-shadow: var(--shadow-level-2);
    }

    &:focus {
      box-shadow: var(--shadow-level-1);
    }

    &:active {
      box-shadow: var(--shadow-level-1);
    }
  }

  &:disabled {
    color: rgba(0, 0, 0, 0.38);
    box-shadow: var(--shadow-level-0);

    &::before {
      background-color: var(--color-on-surface);
      opacity: 0.12;
    }
  }
}
