.button {
  margin: 0;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  outline: 0;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  white-space: nowrap;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  vertical-align: top;
}

.button--contained,
.button--text,
.button--outlined {
  min-width: 64px;
  font-size: 16px;
  line-height: 16px;
  justify-content: center;
}

.button--disabled,
button[disabled] {
  pointer-events: none;
}

.button__icon {
  width: 18px;
  height: 18px;

  svg {
    height: 18px;
    width: 18px;
    fill: currentColor;
  }

  .material-icons {
    font-size: 18px;
  }

  &:first-child {
    margin: 0 8px 0 -8px;
  }

  &:last-child {
    margin: 0 -8px 0 8px;
  }
}

.button--elevated {
  color: var(--color-primary);
  line-height: 20px;
  font-size: 14px;
  padding: 10px 24px;
  border: 0;
  border-radius: 20px;
  text-align: center;
  font-weight: 500;
  box-shadow: var(--shadow-level-1);
  background: transparent;

  // Container layer
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--color-surface);
    z-index: -2;
  }

  // State layer
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: var(--color-primary);
    opacity: 0;
  }

  &:hover {
    box-shadow: var(--shadow-level-2);

    &::after {
      opacity: var(--state-hover-opacity);
    }
  }

  &:focus {
    &::after {
      opacity: var(--state-focus-opacity);
    }
  }

  &:active {
    box-shadow: var(--shadow-level-1);

    &::after {
      background-color: var(--color-primary);
      opacity: var(--state-press-opacity);
    }
  }

  &:disabled {
    color: rgba(0, 0, 0, 0.38);
    box-shadow: var(--shadow-level-0);

    &::before {
      background-color: var(--color-on-surface);
      opacity: 0.12;
    }
  }
}

.button--filled {
  color: var(--color-on-primary);
  line-height: 20px;
  font-size: 14px;
  padding: 10px 24px;
  border: 0;
  border-radius: 20px;
  text-align: center;
  font-weight: 500;
  box-shadow: var(--shadow-level-0);
  background: transparent;

  // Container layer
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -2;
    background-color: var(--color-primary);
  }

  // State layer
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: var(--color-on-primary);
    opacity: 0;
  }

  &:hover {
    box-shadow: var(--shadow-level-1);

    &::after {
      opacity: var(--state-hover-opacity);
    }
  }

  &:focus {
    &::after {
      opacity: var(--state-focus-opacity);
    }
  }

  &:active {
    box-shadow: var(--shadow-level-0);

    &::after {
      opacity: var(--state-press-opacity);
    }
  }

  &:disabled {
    color: rgba(0, 0, 0, 0.38);
    box-shadow: var(--shadow-level-0);

    &::before {
      background-color: var(--color-on-surface);
      opacity: 0.12;
    }
  }
}

.button--filled-tonal {
  color: var(--color-on-secondary-container);
  line-height: 20px;
  font-size: 14px;
  padding: 10px 24px;
  border: 0;
  border-radius: 20px;
  text-align: center;
  font-weight: 500;
  box-shadow: var(--shadow-level-0);
  background: transparent;

  // Container layer
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -2;
    background-color: var(--color-secondary-container);
  }

  // State layer
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: var(--color-on-secondary-container);
    opacity: 0;
  }

  &:hover {
    box-shadow: var(--shadow-level-1);

    &::after {
      opacity: var(--state-hover-opacity);
    }
  }

  &:focus {
    &::after {
      opacity: var(--state-focus-opacity);
    }
  }

  &:active {
    box-shadow: var(--shadow-level-0);

    &::after {
      opacity: var(--state-press-opacity);
    }
  }

  &:disabled {
    color: rgba(0, 0, 0, 0.38);
    box-shadow: var(--shadow-level-0);

    &::before {
      background-color: var(--color-on-surface);
      opacity: 0.12;
    }
  }
}

.button--icon {
  line-height: 1;
  padding: 8px;
  border: 0;
  border-radius: 50%;
  background: transparent;
  height: 40px;
  width: 40px;
  justify-content: center;
  color: var(--text-secondary-color);

  svg {
    fill: var(--text-secondary-color);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.2s;
    opacity: 0;
    background: var(--text-secondary-color);
    border-radius: 50%;
  }

  &:hover {
    &::after {
      opacity: 0.1;
    }
  }

  &:active {
    &::after {
      opacity: 0.3;
    }
  }

  &.button--primary {
    svg {
      fill: var(--primary-color);
    }

    &::after {
      background: var(--primary-color);
    }
  }

  &.button--secondary {
    svg {
      fill: var(--secondary-color);
    }

    &::after {
      background: var(--secondary-color);
    }
  }
}
