.card {
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  z-index: 0;

  // Container layer
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -2;
  }

  // State layer
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0;
  }

}

a.card {
  display: block;
  text-decoration: none;

  &:hover {
    &::after {
      opacity: var(--state-hover-opacity);
    }
  }

  &:focus {
    &::after {
      opacity: var(--state-focus-opacity);
    }
  }

  &:active {
    &::after {
      opacity: var(--state-press-opacity);
    }
  }
}

.card--elevated {
  color: var(--color-on-surface);
  box-shadow: var(--shadow-level-1);

  &:before {
    background-color: var(--color-surface);
  }

  &::after {
    background-color: var(--color-on-surface);
  }
}

a.card--elevated {
  &:hover {
    box-shadow: var(--shadow-level-2);
  }

  &:focus {
    box-shadow: var(--shadow-level-1);
  }

  &:active {
    box-shadow: var(--shadow-level-1);
  }
}

.card--filled {
  color: var(--color-on-surface);

  &:before {
    background-color: var(--color-surface-variant);
  }

  &::after {
    background-color: var(--color-on-surface);
  }
}

a.card--filled {
  &:hover {
    box-shadow: var(--shadow-level-1);
  }

  &:focus {
    box-shadow: var(--shadow-level-1);
  }

  &:active {
    box-shadow: var(--shadow-level-0);
  }
}

.card--outlined {
  color: var(--color-on-surface);

  &:before {
    background-color: var(--color-surface);
    border: 1px solid var(--color-outline);
    border-radius: 12px;
  }

  &::after {
    background-color: var(--color-on-surface);
  }
}

a.card--outlined {
}
