.card {
  border-radius: 12px;

  @include container-layer;
}

a.card {
  display: block;
  text-decoration: none;
  @include state-layer;
}

.card--elevated {
  color: var(--color-on-surface);
  box-shadow: var(--shadow-level-1);

  &:before {
    background-color: var(--color-surface);
  }
}

a.card--elevated {
  &:hover {
    box-shadow: var(--shadow-level-2);
  }

  &:focus {
    box-shadow: var(--shadow-level-1);
  }

  &:active {
    box-shadow: var(--shadow-level-1);
  }
}

.card--filled {
  color: var(--color-on-surface);

  &:before {
    background-color: var(--color-surface-variant);
  }
}

a.card--filled {
  &:hover {
    box-shadow: var(--shadow-level-1);
  }

  &:focus {
    box-shadow: var(--shadow-level-1);
  }

  &:active {
    box-shadow: var(--shadow-level-0);
  }
}

.card--outlined {
  color: var(--color-on-surface);

  &:before {
    background-color: var(--color-surface);
    border: 1px solid var(--color-outline);
    border-radius: 12px;
  }
}
