.chip {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 6px 16px;
  border-radius: 8px;
  vertical-align: middle;

  @include container-layer;
  @include state-layer;
}

.chip--disabled {
  pointer-events: none;
}

.chip__icon {
  width: 18px;
  height: 18px;
  font-size: 18px;

  svg {
    height: 18px;
    width: 18px;
    fill: currentColor;
  }

  .material-icons {
    font-size: 18px;
  }

  &:first-child {
    margin: 0 8px 0 -8px;
  }

  &:last-child {
    margin: 0 -8px 0 8px;
  }
}

.chip__avatar {
  width: 24px;
  height: 24px;
  font-size: 24px;

  svg {
    height: 24px;
    width: 24px;
    fill: currentColor;
  }

  .material-icons {
    font-size: 24px;
  }

  &:first-child {
    margin: -2px 8px -2px -12px;
  }

  &:last-child {
    margin: -2px -12px -2px 8px;
  }
}

.chip__action {
  width: 24px;
  height: 24px;

  .button--icon {
    font-size: 18px;
    padding: 3px;
    border-radius: 12px;
    color: currentColor;

    svg {
      height: 18px;
      width: 18px;
    }

    .material-icons {
      font-size: 18px;
    }

    &::after {
      background-color: currentColor;
    }
  }

  &:first-child {
    margin: -2px 8px -2px -12px;
  }

  &:last-child {
    margin: -2px -12px -2px 8px;
  }
}

.chip--assist {
  color: var(--color-on-surface);

  .chip__icon {
    color: var(--color-primary);
  }

  &::before {
    border: 1px solid var(--color-outline);
    border-radius: 8px;
    background-color: var(--color-surface);
  }

  &.chip--disabled {
    color: rgba(0, 0, 0, 0.38);

    .chip__icon {
      color: rgba(0, 0, 0, 0.38);
    }

    &::before {
      opacity: 0.12;
    }
  }

  &.chip--elevated {
    box-shadow: var(--shadow-level-1);

    &:before {
      border: none;
    }

    &:hover {
      box-shadow: var(--shadow-level-2);
    }

    &.chip--disabled {
      box-shadow: var(--shadow-level-0);

      &::before {
        background-color: var(--color-on-surface);
        opacity: 0.12;
      }
    }
  }
}

.chip--filter {
  color: var(--color-on-surface-variant);

  .chip__icon {
    color: var(--color-on-surface-variant);
  }

  &::before {
    border: 1px solid var(--color-outline);
    border-radius: 8px;
    background-color: var(--color-surface);
  }

  &.chip--selected {
    color: var(--color-on-secondary-container);

    .chip__icon {
      color: var(--color-on-secondary-container);
    }

    &::before {
      background-color: var(--color-secondary-container);
      border: none;
    }

    &:hover {
      box-shadow: var(--shadow-level-1);
    }
  }

  &.chip--disabled {
    color: rgba(0, 0, 0, 0.38);

    .chip__icon {
      color: rgba(0, 0, 0, 0.38);
    }

    &::before {
      opacity: 0.12;
    }
  }

  &.chip--selected.chip--disabled {
    &::before {
      background-color: var(--color-on-surface);
    }
  }

  &.chip--elevated {
    box-shadow: var(--shadow-level-1);

    &:before {
      border: none;
    }

    &:hover {
      box-shadow: var(--shadow-level-2);
    }

    &.chip--disabled {
      box-shadow: var(--shadow-level-0);

      &::before {
        background-color: var(--color-on-surface);
        opacity: 0.12;
      }
    }
  }
}

.chip--input {
  color: var(--color-on-surface-variant);

  .chip__icon {
    color: var(--color-on-surface-variant);
  }

  &::before {
    border: 1px solid var(--color-outline);
    border-radius: 8px;
    background-color: var(--color-surface);
  }

  &.chip--selected {
    color: var(--color-on-secondary-container);

    .chip__icon {
      color: var(--color-on-secondary-container);
    }

    &::before {
      background-color: var(--color-secondary-container);
      border: none;
    }

    &:hover {
      box-shadow: var(--shadow-level-1);
    }
  }

  &.chip--disabled {
    color: rgba(0, 0, 0, 0.38);

    .chip__icon {
      color: rgba(0, 0, 0, 0.38);
    }

    &::before {
      opacity: 0.12;
    }
  }

  &.chip--selected.chip--disabled {
    &::before {
      background-color: var(--color-on-surface);
    }
  }
}

.chip--suggestion {
  color: var(--color-on-surface-variant);

  .chip__icon {
    color: var(--color-on-surface-variant);
  }

  &::before {
    border: 1px solid var(--color-outline);
    border-radius: 8px;
    background-color: var(--color-surface);
  }

  &.chip--selected {
    color: var(--color-on-secondary-container);

    .chip__icon {
      color: var(--color-on-secondary-container);
    }

    &::before {
      background-color: var(--color-secondary-container);
      border: none;
    }

    &:hover {
      box-shadow: var(--shadow-level-1);
    }
  }

  &.chip--disabled {
    color: rgba(0, 0, 0, 0.38);

    .chip__icon {
      color: rgba(0, 0, 0, 0.38);
    }

    &::before {
      opacity: 0.12;
    }
  }

  &.chip--selected.chip--disabled {
    &::before {
      background-color: var(--color-on-surface);
    }
  }

  &.chip--elevated {
    box-shadow: var(--shadow-level-1);

    &:before {
      border: none;
    }

    &:hover {
      box-shadow: var(--shadow-level-2);
    }

    &.chip--disabled {
      box-shadow: var(--shadow-level-0);

      &::before {
        background-color: var(--color-on-surface);
        opacity: 0.12;
      }
    }
  }
}
