@use "sass:map";

.dialog {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  z-index: 10;
  padding: 56px;
  overflow: hidden;
  transition: display var(--transition-duration) allow-discrete;
}

.dialog-toggle {
  display: none;
}

.dialog__container {
  border-radius: 28px;
  min-width: 280px;
  max-width: 560px;
  max-height: 100%;
  background: var(--color-surface-container-high);
  color: var(--color-on-surface);
  z-index: 20;
  flex-direction: column;
  transform: scale(0);
  transition: transform var(--transition-duration);
}

.dialog__scrim {
  display: none;
  position: absolute;
  inset: 0;
  z-index: 10;
  opacity: 0;
  background-color: rgb(0 0 0 / 0.32);
  transition: opacity var(--transition-duration), display var(--transition-duration) allow-discrete;
}

.dialog-toggle:checked + .dialog {
  display: flex;

  .dialog__container {
    transform: scale(1);
  }

  .dialog__scrim {
    display: block;
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }
}

@media (max-width: map.get($breakpoints, "tablet")) {
  .dialog--full-screen {
    padding: 0;

    .dialog__container {
      border-radius: 0;
      inset: 0;
      max-width: none;
      background: var(--color-surface);
    }
  }
}
