@use "sass:map";

.dialog {
  position: fixed;
  inset: 0;
  z-index: 64;
  padding: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition-property: visibility, opacity;
  transition-duration: var(--transition-duration);
}

.dialog-toggle {
  display: none;
}

.dialog__container {
  border-radius: 28px;
  min-width: 280px;
  max-width: 560px;
  max-height: 100%;
  background: var(--color-surface-3);
  color: var(--color-on-surface);
  z-index: 1;
  display: flex;
  flex-direction: column;
  transform: scale(0);
  transition: transform var(--transition-duration);
}

.dialog__scrim {
  display: block;
  position: absolute;
  inset: 0;
  background-color: var(--color-scrim);
}

.dialog-toggle:checked + .dialog,
.dialog--open {
  opacity: 1;
  visibility: visible;

  .dialog__container {
    transform: scale(1);
  }
}

.dialog__header {
  flex-shrink: 0;
  padding: 24px;
}

.dialog__body {
  overflow: auto;
  flex-grow: 1;
  padding: 24px;
}

.dialog__footer {
  flex-shrink: 0;
  padding: 24px;
}

.dialog__actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.dialog {
  .top-app-bar {
    border-radius: 28px 28px 0 0;
    padding: 4px;
  }
}

@media (max-width: map.get($breakpoints, "tablet")) {
  .dialog--full-screen {
    background: var(--color-surface);
    padding: 0;

    .dialog__container {
      border-radius: 0;
      width: 100%;
      height: 100%;
      max-width: none;
    }
  }
}
