.drawer {
  width: 360px;
  flex-shrink: 0;
}

.drawer__container {
  box-sizing: border-box;
  background: var(--color-surface);
  color: var(--color-on-surface-variant);
  overflow: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 360px;
  padding: 12px;
  z-index: 1;
}

.drawer__scrim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

@media (min-width: $phone-break-point) {
  .drawer--app-bar-margin .drawer__container {
    margin-top: 64px;
  }
}

@mixin drawer-modal {
  display: none;

  &.drawer--open {
    display: block;
    position: fixed;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 16;

    .drawer__scrim {
      display: block;
    }
  }

  .drawer__container {
    border-radius: 0 16px 16px 0;
    max-width: calc(100vw - 64px);
  }
}

.drawer--modal {
  @include drawer-modal;
}

@media (max-width: $phone-break-point - 1px) {
  .drawer {
    @include drawer-modal;
  }
}

.drawer__item {
  padding: 18px 24px;
  display: flex;
  text-decoration: none;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  border-radius: 28px;
  position: relative;
  overflow: hidden;
  color: var(--color-on-surface-variant);

  --state-hover-opacity: 16%;
  --state-focus-opacity: 24%;
  --state-press-opacity: 20%;

  @include state-layer;

  &::before {
    background-color: var(--color-surface);
  }

  &.drawer__item--active {
    color: var(--color-on-secondary-container);

    &::before {
      background-color: var(--color-secondary-container);
    }
  }
}

.drawer__item__icon {
  height: 24px;
  width: 24px;

  &:first-child {
    margin: -2px 12px -2px -8px;
  }

  &:last-child {
    margin: -2px -8px -2px 12px;
  }
}

.drawer__item__label {
  flex-grow: 1;
}
