.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__container {
  display: none;
}

.dropdown--open {
  .dropdown__container {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 8px 0;
    color: var(--color-on-surface);
    background-color: var(--color-surface);
    box-shadow: var(--shadow-1);
    border-radius: 4px;
    min-width: 240px;
    z-index: 1;
    transform-origin: top left;
  }

  .dropdown__container--top-right {
    left: auto;
    right: 0;
    transform-origin: top right;
  }

  .dropdown__container--bottom-left {
    top: auto;
    bottom: 100%;
    transform-origin: bottom left;
  }

  .dropdown__container--bottom-right {
    top: auto;
    bottom: 100%;
    left: auto;
    right: 0;
    transform-origin: bottom right;
  }
}

.dropdown__item {
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1em;
  font-family: sans-serif;
  padding: 8px 16px;
  line-height: 24px;
  text-decoration: none;
  color: var(--color-on-background);
  cursor: pointer;

  @include state-layer;
}

.dropdown__item__icon {
  height: 24px;
  width: 24px;
  color: var(--color-on-background);

  &:first-child {
    margin-right: 16px;
  }

  &:last-child {
    margin-left: 16px;
  }

  svg {
    height: 24px;
    width: 24px;
    fill: currentColor;
  }
}
