.floating-action-button {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  outline: none;
  color: var(--color-on-primary-container);
  line-height: 1;
  height: 56px;
  padding: 0 16px;
  border: 0;
  border-radius: 16px;
  text-align: center;
  vertical-align: middle;
  background-color: var(--color-primary-container);
  box-shadow: var(--shadow-3);
  cursor: pointer;

  svg {
    height: 24px;
    width: 24px;
    fill: currentColor;
  }

  .material-icons {
    font-size: 24px;
  }

  &:hover {
    box-shadow: var(--shadow-4);
  }

  &:focus {
    box-shadow: var(--shadow-3);
  }

  &:active {
    box-shadow: var(--shadow-3);
  }

  &.button--lowered {
    box-shadow: var(--shadow-1);

    &:hover {
      box-shadow: var(--shadow-2);
    }

    &:focus {
      box-shadow: var(--shadow-1);
    }

    &:active {
      box-shadow: var(--shadow-1);
    }
  }
}

.floating-action-button--surface {
  color: var(--color-primary);
  background-color: var(--color-surface-container-low);
}

.floating-action-button--secondary {
  color: var(--color-on-secondary-container);
  background-color: var(--color-secondary-container);
}

.floating-action-button--tertiary {
  color: var(--color-on-tertiary-container);
  background-color: var(--color-tertiary-container);
}

.floating-action-button--small {
  height: 40px;
  padding: 0 8px;
  border-radius: 12px;
}

.floating-action-button--large {
  font-size: 36px;
  height: 96px;
  padding: 0 30px;
  border-radius: 28px;

  svg {
    height: 36px;
    width: 36px;
  }

  .material-icons {
    font-size: 36px;
  }
}

.floating-action-button__label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
