@use "sass:map";

.navigation-drawer {
}

.navigation-drawer__container {
  overflow: auto;
  width: 360px;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 20;
  border-radius: 0 16px 16px 0;
  transform: translateX(-100%);
  transition: transform var(--transition-duration);
  color: var(--color-on-surface);
  background-color: var(--color-surface-container-low);
}

.navigation-drawer__scrim {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 0.32);
  z-index: 10;
  opacity: 0;
  transition: opacity var(--transition-duration), display var(--transition-duration) allow-discrete;
}

.navigation-drawer-toggle {
  display: none;
}

.navigation-drawer-toggle:checked + .navigation-drawer {
  .navigation-drawer__container {
    transform: translateX(0);
  }

  .navigation-drawer__scrim {
    display: block;
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }
}

@media (min-width: map.get($breakpoints, "expanded")) {
  .navigation-drawer:not(.navigation-drawer--modal) {
    position: relative;
    width: 360px;

    .navigation-drawer__container {
      border-radius: 0;
      transform: translateX(0);
    }

    .navigation-drawer-toggle:checked + .navigation-drawer {
      .navigation-drawer__scrim {
        display: none;
      }
    }
  }
}

.navigation-drawer__item {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 56px;
  padding: 0 16px;
  text-decoration: none;
  border-radius: 28px;
  position: relative;
  overflow: hidden;
  color: var(--color-on-surface-variant);
  outline: none;
  cursor: pointer;

  @include state-layer;

  &.navigation-drawer__item--active {
    color: var(--color-on-secondary-container);
    background-color: var(--color-secondary-container);
  }
}

.navigation-drawer__item__icon {
  height: 24px;
  width: 24px;
}

.navigation-drawer__item__label {
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  flex-grow: 1;
}
