.navigation-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 80px;
  gap: 8px;
  background-color: rgb(var(--color-surface-container));
  color: rgb(var(--color-on-surface));
  z-index: 10;
}

.navigation-bar__item {
  position: relative;
  text-decoration: none;
  display: flex;
  padding: 12px 0 16px;
  gap: 4px;
  flex-direction: column;
  align-items: center;
  color: rgb(var(--color-on-surface-variant));
  width: 100%;
}

.navigation-bar__item__icon {
  line-height: 0;
  padding: 4px 20px;
  border-radius: 16px;
  color: rgb(var(--color-on-surface-variant));

  @include state-layer;

  svg {
    height: 24px;
    width: 24px;
  }

  .material-icons {
    font-size: 24px;
  }
}

.navigation-bar__item:hover {
  .navigation-bar__item__icon::after {
    opacity: var(--opacity-state-hover);
  }
}

.navigation-bar__item:focus {
  .navigation-bar__item__icon::after {
    opacity: var(--opacity-state-focus);
  }
}

.navigation-bar__item:active {
  .navigation-bar__item__icon::after {
    opacity: var(--opacity-state-press);
  }
}

.navigation-bar__item__label {
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
}

.navigation-bar__item--active {
  color: rgb(var(--color-on-surface));

  .navigation-bar__item__icon {
    color: rgb(var(--color-on-secondary-container));
    background-color: rgb(var(--color-secondary-container));
  }
}
