.navigation-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--color-surface-2);
  color: var(--color-on-surface-variant);
  z-index: 16;
}

.navigation-bar__item {
  position: relative;
  text-decoration: none;
  display: flex;
  padding: 12px 0 16px;
  gap: 4px;
  flex-direction: column;
  align-items: center;
  color: var(--color-on-surface-variant);
  width: 100%;

  @include state-layer;
}

.navigation-bar__item__icon {
  line-height: 0;
  padding: 4px 20px;
  border-radius: 16px;
  color: var(--color-on-surface-variant);
  position: relative;

  svg {
    height: 24px;
    width: 24px;
  }

  .material-icons {
    font-size: 24px;
  }
}

.navigation-bar__item__label {
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
}

.navigation-bar__item--active {
  color: var(--color-on-surface);

  .navigation-bar__item__icon {
    color: var(--color-on-primary-container);
    background-color: var(--color-primary-container);
  }
}
