.navigation-wrapper {
  display: flex;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.navigation {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  z-index: 100;
  box-shadow: 1px 0 0 var(--border-color);
}

.navigation__action {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 0;
  height: 72px;
  width: 72px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  color: var(--text-primary-color);

  svg {
    fill: var(--text-secondary-color);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--primary-color);
    opacity: 0;
    transition: opacity 0.2s;
  }

  &:hover {
    &::after {
      opacity: 0.1;
    }
  }

  &:active {
    &::after {
      opacity: 0.3;
    }
  }

  &.navigation__action--active {
    color: var(--primary-color);

    svg {
      fill: var(--primary-color);
    }
  }
}

.navigation__icon {
  height: 24px;
  width: 24px;
}

.navigation__label {
  line-height: 20px;
  font-size: 14px;
}

@media (max-width: $phone-break-point) {
  .navigation-wrapper {
    flex-direction: column-reverse;
  }

  .navigation {
    flex-direction: row;
    border-right: 0;
    padding: 0;
    box-shadow: 0 -1px 0 var(--border-color);
  }

  .navigation__action {
    width: auto;
    flex-grow: 1;
  }
}
