@use "sass:map";

.navigation-drawer {
  display: none;
  flex-shrink: 0;
}

.navigation-drawer__container {
  box-sizing: border-box;
  background: var(--color-surface);
  color: var(--color-on-surface-variant);
  overflow: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 360px;
  max-width: calc(100vw - 64px);
  padding: 12px;
  border-radius: 0 16px 16px 0;
  z-index: 16;
}

.navigation-drawer__scrim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 15;
}

.navigation-drawer--open {
  display: block;
}

@media (min-width: map.get($breakpoints, "laptop")) {
  .navigation-drawer--permanently {
    display: block;
    width: 360px;

    .navigation-drawer__container {
      border-radius: 0;
    }

    .navigation-drawer__scrim {
      display: none;
    }
  }
}

.navigation-drawer__item {
  padding: 18px 24px;
  display: flex;
  text-decoration: none;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  border-radius: 28px;
  position: relative;
  overflow: hidden;
  color: var(--color-on-surface-variant);
  outline: 0;
  background-color: var(--color-surface);

  --state-hover-opacity: 16%;
  --state-focus-opacity: 24%;
  --state-press-opacity: 20%;

  @include state-layer;

  &.navigation-drawer__item--active {
    color: var(--color-on-secondary-container);
    background-color: var(--color-secondary-container);
  }
}

.navigation-drawer__item__icon {
  height: 24px;
  width: 24px;

  &:first-child {
    margin: -2px 12px -2px -8px;
  }

  &:last-child {
    margin: -2px -8px -2px 12px;
  }
}

.navigation-drawer__item__label {
  flex-grow: 1;
}
