.navigation-rail {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 80px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  background-color: rgb(var(--color-surface));
  color: rgb(var(--color-on-surface-variant));

  .button--icon {
    padding: 16px;
    border-radius: 28px;
  }

  .button--floating-action {
    box-shadow: none;
  }
}

.navigation-rail__item {
  position: relative;
  padding: 8px;
  text-decoration: none;
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: center;
  color: rgb(var(--color-on-surface-variant));
  width: 100%;
}

.navigation-rail__item__icon {
  line-height: 0;
  padding: 4px 16px;
  border-radius: 16px;
  color: rgb(var(--color-on-surface-variant));
  @include state-layer;

  svg {
    height: 24px;
    width: 24px;
  }

  .material-icons {
    font-size: 24px;
  }
}

.navigation-rail__item:hover {
  .navigation-rail__item__icon::after {
    opacity: var(--opacity-state-hover);
  }
}

.navigation-rail__item:focus {
  .navigation-rail__item__icon::after {
    opacity: var(--opacity-state-focus);
  }
}

.navigation-rail__item:active {
  .navigation-rail__item__icon::after {
    opacity: var(--opacity-state-press);
  }
}

.navigation-rail__item__label {
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
}

.navigation-rail__item--active {
  color: rgb(var(--color-on-surface));

  .navigation-rail__item__icon {
    color: rgb(var(--color-on-secondary-container));
    background-color: rgb(var(--color-secondary-container));
  }

  .navigation-rail__item__label {
    font-weight: 700;
  }
}
