.pagination {
  display: flex;

  .button--active {
    color: var(--color-primary);

    &::after {
      opacity: 0.1;
    }
  }
}

.pagination__info {
  padding: 6px;
}

.pagination__item {
  padding: 0 2px;
}

.pagination__ellipsis {
  color: var(--color-on-background);
  padding: 6px;
}
