.radio {
  display: inline-block;
  position: relative;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;

  color: var(--color-primary);
  @include state-layer;

  input[type="radio"] {
    display: none;

    &:checked ~ .radio__icon {
      border-color: var(--color-primary);

      &::after {
        opacity: 1;
        transform: scale(0.5);
      }
    }
  }

}

.radio--disabled {
  pointer-events: none;

  .radio__icon {
    border-color: var(--color-disabled);
  }
}

.radio__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 11px;
  left: 11px;
  border: 2px solid var(--color-on-background);
  border-radius: 50%;
  transition: border-color var(--transition-duration);

  &::after {
    content: '';
    display: block;
    border-radius: 50%;
    background: var(--color-primary);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(0);
    transition: transform var(--transition-duration);
  }
}
