.segmented-button {
  display: inline-flex;
  box-shadow: 0 0 0 1px rgb(var(--color-outline));
  border-radius: 20px;
  overflow: hidden;
}

.segmented-button__item {
  display: flex;
  align-items: center;
  min-width: 48px;
  padding: 0 12px;
  border: none;
  height: 40px;
  gap: 8px;
  cursor: pointer;
  user-select: none;
  color: rgb(var(--color-on-surface));
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;

  @include state-layer;

  &:not(:last-child) {
    border-right: 1px solid rgb(var(--color-outline));
  }

  &:hover {
    color: rgb(var(--color-on-secondary-container));
  }

  &:disabled {
    .segmented-button__item__icon,
    .segmented-button__item__label {
      opacity: 38%;
    }
  }
}

.segmented-button__item--active {
  background-color: rgb(var(--color-secondary-container));
}

.segmented-button__item__icon {
  height: 18px;
  width: 18px;

  svg {
    height: 18px;
    width: 18px;
    fill: currentColor;
  }

  .material-icons {
    font-size: 18px;
  }
}
