.sheet {
  width: 320px;
  flex-shrink: 0;
}

.sheet__container {
  box-sizing: border-box;
  box-shadow: -1px 0 0 var(--border-color);
  background: white;
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  z-index: 1;
}

.sheet__scrim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

@media (min-width: $phone-break-point) {
  .sheet--app-bar-margin .sheet__container {
    margin-top: 56px;
  }
}

@mixin sheet-modal {
  display: none;

  &.sheet--open {
    display: block;
    position: fixed;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 16;

    .sheet__scrim {
      display: block;
    }
  }
}

.sheet--modal {
  @include sheet-modal;
}

@media (max-width: $phone-break-point - 1px) {
  .sheet {
    @include sheet-modal;
  }
}
