.sheet {
  width: 320px;
  margin-right: -320px;
  z-index: 110;
}

.sheet__content {
  box-sizing: border-box;
  border-left: 1px solid var(--border-color);
  background: white;
  overflow: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 320px;
  z-index: 32;
}

.sheet__scrim {
  display: none;
  z-index: 16;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.sheet--open {
  margin-right: 0;
}

@media (max-width: $phone-break-point - 1px) {
  .sheet {
    position: fixed;
    right: 0;
  }

  .sheet--open {
    .sheet__scrim {
      display: block;
    }
  }
}

@media (min-width: $phone-break-point) {
  .sheet--clipped {
    z-index: 90;

    .sheet__content {
      top: 56px;
    }
  }

  .sheet--permanently {
    margin-right: 0;
  }

  .sheet--modal {
    position: fixed;
    right: 0;

    &.sheet--open {
      .sheet__scrim {
        display: block;
      }
    }
  }
}
