.snackbar-container {
  position: fixed;
  left: 16px;
  bottom: 16px;
  z-index: 6;
}

.snackbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #323232;
  color: white;
  padding: 16px;
  font-size: 14px;
  line-height: 16px;
  border-radius: 2px;
  min-width: 288px;
  max-width: 568px;

  .button--text {
    margin: -10px -12px;
  }
}

.snackbar + .snackbar {
  margin-top: 16px;
}
