.switch {
  display: inline-block;
  height: 32px;
  width: 52px;
  position: relative;

  input[type="checkbox"] {
    display: none;

    &:checked ~ .switch__track {
      background-color: rgb(var(--color-primary));
      border-color: rgb(var(--color-primary));
    }

    &:checked ~ .switch__thumb {
      top: 4px;
      left: 24px;
      width: 24px;
      height: 24px;
      border-radius: 12px;
      background-color: rgb(var(--color-on-primary));
      color: rgb(var(--color-on-primary-container));

      .switch__icon--on {
        display: block;
      }

      .switch__icon--off {
        display: none;
      }
    }

    &:disabled {
      & ~ .switch__track {
        pointer-events: none;
        opacity: 12%;
        background-color: rgb(var(--color-surface-container-highest));
        border-color: rgb(var(--color-on-surface));
      }

      & ~ .switch__thumb {
        pointer-events: none;
        opacity: 38%;
        background-color: rgb(var(--color-on-surface));

        .switch__icon {
          opacity: 38%;
        }
      }
    }

    &:disabled:checked {
      & ~ .switch__track {
        background-color: rgb(var(--color-on-surface));
      }

      & ~ .switch__thumb {
        opacity: 100%;
        background-color: rgb(var(--color-surface));
      }
    }
  }
}

.switch__track {
  position: absolute;
  inset: 0;
  background: rgb(var(--color-suface-container-highest));
  border: 2px solid rgb(var(--color-outline));
  border-radius: 16px;
  cursor: pointer;
  transition-property: background-color, border-color;
  transition-duration: var(--transition-duration);
}

.switch__thumb {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 8px;
  left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: left, top, width, height, background-color, color;
  transition-duration: var(--transition-duration);
  background-color: rgb(var(--color-outline));
  color: rgb(var(--color-surface-container-highest));
  border-radius: 8px;
  cursor: pointer;
  user-select: none;

  @include state-layer;
}

.switch__thumb--with-icon {
  width: 24px;
  height: 24px;
  top: 4px;
  left: 4px;
  border-radius: 12px;
}

.switch__icon {
  height: 16px;
  width: 16px;
  line-height: 1;

  svg {
    width: 16px;
    height: 16px;
    fill: currentColor;
  }

  .material-icons {
    font-size: 16px;
  }
}

.switch__icon--on {
  display: none;
}
