.tab {
  display: flex;
  overflow: auto;
  gap: 8px;
}

.tab__item {
  padding: 10px 24px;
  display: flex;
  text-decoration: none;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  color: var(--color-on-surface);
  outline: none;
  background-color: var(--color-surface);
  cursor: pointer;

  @include state-layer;
}

.tab__item--active {
  color: var(--color-on-primary-container);
  background-color: var(--color-primary-container);
}
