.tab {
  display: flex;
  overflow: auto;
  gap: 12px;
}

.tab__item {
  padding: 18px 24px;
  display: flex;
  text-decoration: none;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  border-radius: 28px;
  position: relative;
  overflow: hidden;
  color: var(--color-on-surface-variant);
  outline: 0;
  background-color: var(--color-surface);
  cursor: pointer;

  --state-hover-opacity: 16%;
  --state-focus-opacity: 24%;
  --state-press-opacity: 20%;

  @include state-layer;
}

.tab__item--active {
  color: var(--color-on-secondary-container);
  background-color: var(--color-secondary-container);
}
