.table {
  width: 100%;
  border-spacing: 0;
  overflow: auto;

  th,
  td {
    padding: 12px 16px;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    border-bottom: 1px solid var(--color-outline);
    white-space: nowrap;
  }

  tbody tr:last-child {
    th, td{
      border-bottom: none;
    }
  }

  th {
    font-weight: bold;
  }
}
