.text-field {
  width: 100%;

  .text-field__container {
    display: flex;
    position: relative;
  }

  label {
    pointer-events: none;
  }

  textarea,
  input {
    display: block;
    border: none;
    margin: 0;
    outline: 0;
    font-family: sans-serif;
    flex-grow: 1;
  }
}

.text-field--filled {
  .text-field__container {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 0 0;

    // border element
    &::after {
      content: "";
      border-bottom: 1px solid var(--text-secondary-color);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.075);
    }

    &:focus-within {
      background: rgba(0, 0, 0, 0.1);

      &::after {
        border-bottom: 2px solid var(--primary-color);
      }

      .text-field__label {
        font-size: 12px;
        top: 8px;
        color: var(--primary-color);
      }
    }
  }

  .text-field__label {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 16px;
    line-height: 1;
    transition: top 0.15s;
    color: var(--text-secondary-color);
  }

  input,
  textarea {
    padding: 20px 16px 8px;
    font-size: 16px;
    line-height: 20px;
    background: transparent;

    &::placeholder {
      opacity: 0;
    }
  }

  input:not(:placeholder-shown) ~ .text-field__label,
  textarea:not(:placeholder-shown) ~ .text-field__label {
    font-size: 12px;
    top: 8px;
  }

  .text-field__prefix-text {
    font-size: 16px;
    line-height: 20px;
    padding: 20px 0 8px 16px ;
    color: var(--text-secondary-color);
  }

  .text-field__suffix-text {
    font-size: 16px;
    line-height: 20px;
    padding: 20px 16px 8px 0;
    color: var(--text-secondary-color);
  }

  &.text-field--with-prefix-text {
    input {
      padding-left: 0;
    }

    .text-field__label {
      font-size: 12px;
      top: 8px;
    }
  }

  &.text-field--with-suffix-text {
    input {
      padding-right: 0;
    }

    .text-field__label {
      font-size: 12px;
      top: 8px;
    }
  }

  &.text-field--with-leading-icon {
    .text-field__label {
      left: 48px;
    }

    input {
      padding-left: 48px;
    }

    .text-field__leading-icon {
      top: 12px;
      left: 12px;
      position: absolute;
      fill: var(--text-secondary-color);
    }
  }

  &.text-field--with-trailing-icon {
    input {
      padding-right: 48px;
    }

    .text-field__trailing-icon {
      top: 12px;
      right: 12px;
      position: absolute;
      fill: var(--text-secondary-color);

      .button--icon {
        margin: -8px -8px 0 0;
      }
    }
  }
}

.text-field--outlined {
  .text-field__container {
    // border element
    &::after {
      content: "";
      border: 1px solid var(--text-secondary-color);
      border-radius: 4px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
    }

    &:focus-within {
      &::after {
        border: 2px solid var(--primary-color);
      }

      .text-field__label {
        font-size: 12px;
        top: -6px;
        left: 12px;
        color: var(--primary-color);
      }
    }
  }

  .text-field__label {
    position: absolute;
    top: 16px;
    left: 12px;
    padding: 0 4px;
    font-size: 16px;
    line-height: 1;
    transition: top 0.15s, left 0.15s;
    color: var(--text-secondary-color);
    background: white;
    z-index: 1;
  }

  input,
  textarea {
    padding: 14px 16px;
    font-size: 16px;
    line-height: 20px;
    outline: 0;
    background: transparent;

    &::placeholder {
      opacity: 0;
    }
  }

  input:not(:placeholder-shown) ~ .text-field__label,
  textarea:not(:placeholder-shown) ~ .text-field__label {
    font-size: 12px;
    top: -6px;
    left: 12px;
  }

  .text-field__prefix-text {
    font-size: 16px;
    line-height: 20px;
    padding: 14px 0 14px 16px ;
    color: var(--text-secondary-color);
  }

  .text-field__suffix-text {
    font-size: 16px;
    line-height: 20px;
    padding: 14px 16px 14px 0;
    color: var(--text-secondary-color);
  }

  &.text-field--with-prefix-text {
    input,
    input:focus {
      padding-left: 0;
    }

    .text-field__label {
      font-size: 12px;
      top: -6px;
    }
  }

  &.text-field--with-suffix-text {
    input,
    input:focus {
      padding-right: 0;
    }

    .text-field__label {
      font-size: 12px;
      top: -6px;
    }
  }

  &.text-field--with-leading-icon {
    .text-field__label {
      left: 48px;
    }

    input {
      padding-left: 48px;
    }

    .text-field__leading-icon {
      position: absolute;
      top: 12px;
      left: 12px;
      fill: var(--text-secondary-color);
    }
  }

  &.text-field--with-trailing-icon {
    input {
      padding-right: 48px;
    }

    .text-field__trailing-icon {
      position: absolute;
      top: 12px;
      right: 12px;
      fill: var(--text-secondary-color);
    }
  }
}

.text-field__helper-text,
.text-field__error-text {
  font-size: 12px;
  line-height: 1;
  padding: 4px 16px 0;
  color: var(--text-secondary-color);
}

.text-field__error-text {
  display: none;
}

.text-field--invalid {
  .text-field__label,
  .text-field__container:focus-within .text-field__label,
  input:not(:placeholder-shown) ~ .text-field__label,
  .text-field__helper-text,
  .text-field__error-text {
    color: var(--error-color);
  }

  .text-field__helper-text {
    display: none;
  }

  .text-field__error-text {
    display: block;
  }

  .text-field__label {
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-name: headShake;
  }

  .text-field__container,
  .text-field__container:focus-within {
    &::after {
      border-color: var(--error-color);
    }
  }
}
