.text-field {
  width: 100%;

  .text-field__container {
    display: flex;
    position: relative;
  }

  label {
    pointer-events: none;
  }

  .text-field__input {
    display: block;
    border: none;
    margin: 0;
    outline: none;
    font-family: sans-serif;
    flex-grow: 1;
    color: var(--color-on-surface);
  }

  select.text-field__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 48px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjRweCIgZmlsbD0iIzAwMDAwMCI+PHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjxwYXRoIGQ9Ik03IDEwbDUgNSA1LTV6Ii8+PC9zdmc+');
    background-repeat: no-repeat;
    background-position: right 12px center;
  }
}

.text-field--filled {
  color: var(--color-on-surface);

  .text-field__container {
    border-radius: 4px 4px 0 0;
    background-color: var(--color-surface-1);
    transition: background-color var(--transition-duration);

    // border
    &::before {
      content: "";
      border-bottom: 1px solid var(--color-outline);
      position: absolute;
      inset: 0;
      pointer-events: none;
      transition: border-color var(--transition-duration);
    }

    &:hover {
      background-color: var(--color-surface-2);
    }

    &:focus-within {
      background-color: var(--color-surface-3);

      &::before {
        border-bottom: 2px solid var(--color-primary);
      }

      .text-field__label {
        font-size: 12px;
        top: 8px;
        color: var(--color-primary);
      }
    }
  }

  &.text-field--error {
    .text-field__container {
      &::before {
        border-color: var(--color-error);
      }

      &::after {
        background-color: var(--color-error);
      }
    }
  }

  .text-field__label {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 16px;
    line-height: 1;
    transition-property: top, color;
    transition-duration: var(--transition-duration);
    color: var(--color-on-surface);
  }

  .text-field__input {
    padding: 20px 16px 8px;
    font-size: 16px;
    line-height: 20px;
    background: transparent;
  }

  .text-field__input:not(:placeholder-shown) ~ .text-field__label {
    font-size: 12px;
    top: 8px;
  }

  .text-field__prefix-text {
    font-size: 16px;
    line-height: 20px;
    padding: 20px 0 8px 16px ;
    color: var(--color-on-surface-variant);
  }

  .text-field__suffix-text {
    font-size: 16px;
    line-height: 20px;
    padding: 20px 16px 8px 0;
    color: var(--color-on-surface-variant);
  }

  &.text-field--with-prefix-text {
    .text-field__input {
      padding-left: 0;
    }

    .text-field__label {
      font-size: 12px;
      top: 8px;
    }
  }

  &.text-field--with-suffix-text {
    input {
      padding-right: 0;
    }

    .text-field__label {
      font-size: 12px;
      top: 8px;
    }
  }

  &.text-field--with-leading-icon {
    .text-field__label {
      left: 48px;
    }

    .text-field__input {
      padding-left: 48px;
    }

    .text-field__leading-icon {
      top: 12px;
      left: 12px;
      position: absolute;
      color: var(--color-on-surface-variant);
      pointer-events: none;

      svg {
        fill: currentColor;
      }
    }
  }

  &.text-field--with-trailing-icon {
    .text-field__input {
      padding-right: 48px;
    }

    .text-field__trailing-icon {
      top: 12px;
      right: 12px;
      position: absolute;
      color: var(--color-on-surface-variant);
      pointer-events: none;

      svg {
        fill: currentColor;
      }
    }
  }
}

.text-field--outlined {
  .text-field__container {
    // outline
    &::before {
      content: "";
      border: 1px solid var(--color-outline);
      border-radius: 4px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      transition: border-color var(--transition-duration);
    }

    &:focus-within {
      &::before {
        border: 2px solid var(--color-primary);
      }

      .text-field__label {
        font-size: 12px;
        top: -6px;
        left: 12px;
        color: var(--color-primary);
      }
    }
  }

  .text-field__label {
    position: absolute;
    top: 16px;
    left: 12px;
    padding: 0 4px;
    font-size: 16px;
    line-height: 1;
    color: var(--color-on-surface);
    background: var(--color-surface);
    z-index: 1;
    transition-property: top, left, color;
    transition-duration: var(--transition-duration);
  }

  &.text-field--error {
    .text-field__container {
      &::before {
        border-color: var(--color-error);
      }
    }
  }

  .text-field__input {
    padding: 14px 16px;
    font-size: 16px;
    line-height: 20px;
    outline: none;
    background: transparent;

    &::placeholder {
      opacity: 0;
    }
  }

  .text-field__input:not(:placeholder-shown) ~ .text-field__label {
    font-size: 12px;
    top: -6px;
    left: 12px;
  }

  .text-field__prefix-text {
    font-size: 16px;
    line-height: 20px;
    padding: 14px 0 14px 16px ;
    color: var(--color-on-surface-variant);
  }

  .text-field__suffix-text {
    font-size: 16px;
    line-height: 20px;
    padding: 14px 16px 14px 0;
    color: var(--color-on-surface-variant);
  }

  &.text-field--with-prefix-text {
    .text-field__input,
    .text-field__input:focus {
      padding-left: 0;
    }

    .text-field__label {
      font-size: 12px;
      top: -6px;
    }
  }

  &.text-field--with-suffix-text {
    .text-field__input,
    .text-field__input:focus {
      padding-right: 0;
    }

    .text-field__label {
      font-size: 12px;
      top: -6px;
    }
  }

  &.text-field--with-leading-icon {
    .text-field__label {
      left: 48px;
    }

    .text-field__input {
      padding-left: 48px;
    }

    .text-field__leading-icon {
      position: absolute;
      top: 12px;
      left: 12px;
      color: var(--color-on-surface-variant);
      pointer-events: none;

      svg {
        fill: var(--color-on-surface-variant);
      }
    }
  }

  &.text-field--with-trailing-icon {
    .text-field__input {
      padding-right: 48px;
    }

    .text-field__trailing-icon {
      position: absolute;
      top: 12px;
      right: 12px;
      color: var(--color-on-surface-variant);
      pointer-events: none;

      svg {
        fill: var(--color-on-surface-variant);
      }
    }
  }
}

.text-field__helper-text {
  font-size: 12px;
  line-height: 1;
  padding: 4px 16px 0;
}

.text-field--error {
  color: var(--color-error);

  .text-field__label,
  .text-field__container:focus-within .text-field__label,
  .text-field__input:not(:placeholder-shown) ~ .text-field__label, {
    color: var(--color-error);
  }

  .text-field__label {
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-name: headShake;
  }

  .text-field__container,
  .text-field__container:focus-within {
    &::after {
      border-color: var(--color-error);
    }
  }
}
