.top-app-bar {
  color: var(--color-on-surface);
  background-color: var(--color-surface);
  box-shadow: var(--shadow-0);
  display: flex;
  align-items: flex-start;
  padding: 8px 4px;
}

.top-app-bar--sticky-top {
  position: sticky;
  top: 0;
  z-index: 16;
}

.top-app-bar--on-scroll {
  box-shadow: var(--shadow-2);
}

.top-app-bar__title {
  line-height: 28px;
  font-size: 22px;
  font-weight: 400;
  flex-grow: 1;
  padding: 10px 12px;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.top-app-bar__action {
  padding: 4px;

  .button--icon {
    color: var(--color-on-surface-variant);
  }

  &:first-child {
    .button--icon {
      color: var(--color-on-surface);
    }
  }
}

.top-app-bar__avatar {
  padding: 9px;
  line-height: 1;

  img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }
}

.top-app-bar--medium {
  .top-app-bar__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    padding-top: 48px;
    padding-bottom: 16px;
  }
}

.top-app-bar--large {
  .top-app-bar__title {
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
    padding-top: 84px;
    padding-bottom: 16px;
  }
}
