.background {
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-on-background));
}

@each $color in (
  primary,
  primary-container,
  secondary,
  secondary-container,
  tertiary,
  tertiary-container,
  surface,
  surface-variant,
  error,
  error-container
) {
  .background-#{$color} {
    background-color: rgb(var(--color-#{$color}));
    color: rgb(var(--color-on-#{$color}));
  }
};

@each $color in (
  surface-dim,
  surface-bright,
  surface-container-lowest,
  surface-container-low,
  surface-container,
  surface-container-high,
  surface-container-highest
) {
  .background-#{$color} {
    background-color: rgb(var(--color-#{$color}));
    color: rgb(var(--color-on-surface));
  }
};
