.border {
  border: 1px solid var(--color-outline);
}

.border-top {
  border-top: 1px solid var(--color-outline);
}

.border-bottom {
  border-bottom: 1px solid var(--color-outline);
}

.border-left {
  border-left: 1px solid var(--color-outline);
}

.border-right {
  border-right: 1px solid var(--color-outline);
}

@for $size from 0 through 5 {
  .border-radius-#{$size} {
    border-radius: var(--space-#{$size});
  }
}

.border-radius-circle {
  border-radius: 50%;
}

@each $screen, $size in $breakpoints {
  @media (min-width: #{$size}) {
    .border\@#{$screen} {
      border: 1px solid var(--color-outline);
    }

    .border-top\@#{$screen} {
      border-top: 1px solid var(--color-outline);
    }

    .border-bottom\@#{$screen} {
      border-bottom: 1px solid var(--color-outline);
    }

    .border-left\@#{$screen} {
      border-left: 1px solid var(--color-outline);
    }

    .border-right\@#{$screen} {
      border-right: 1px solid var(--color-outline);
    }

    @for $size from 0 through 5 {
      .border-radius-#{$size}\@#{$screen} {
        border-radius: var(--space-#{$size});
      }
    }

    .border-radius-circle\@#{$screen} {
      border-radius: 50%;
    }
  }
}
