@use "sass:math";

@each $percent in (25, 50, 75, 100) {
  .width-#{$percent} {
    width: math.div($percent, 100) * 100%;
  }

  .height-#{$percent} {
    height: math.div($percent, 100) * 100%;
  }
}

.max-width-100 {
  max-width: 100%;
}

.max-width-100vw {
  max-width: 100vw;
}

.width-100vw {
  width: 100vw;
}

.min-width-0 {
  min-width: 0%;
}

.min-width-100 {
  min-width: 100%;
}

.min-width-100vw {
  min-width: 100vw;
}

.max-height-100 {
  max-height: 100%;
}

.max-height-100vh {
  max-height: 100vh;
}

.height-100vh {
  height: 100vh;
}

.min-height-0 {
  min-height: 0;
}

.min-height-100 {
  min-height: 100%;
}

.min-height-100vh {
  min-height: 100vh;
}
