$spacer: 16px;
$spacers: (
  0: $spacer * 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer * 1,
  4: $spacer * 2,
  5: $spacer * 3,
);


@each $type in (margin, padding) {
  @each $name, $value in $spacers {
    .#{$type}-#{$name} {
      #{$type}: $value;
    }

    .#{$type}-x-#{$name} {
      #{$type}-left: $value;
      #{$type}-right: $value;
    }

    .#{$type}-y-#{$name} {
      #{$type}-top: $value;
      #{$type}-bottom: $value;
    }

    @each $side in (top, left, right, bottom) {
      .#{$type}-#{$side}-#{$name} {
        #{$type}-#{$side}: $value;
      }
    }
  }
}

.border {
  border: 1px solid var(--border-color);
}

.border-top {
  border-top: 1px solid var(--border-color);
}

.border-bottom {
  border-bottom: 1px solid var(--border-color);
}

.border-left {
  border-left: 1px solid var(--border-color);
}

.border-right {
  border-right: 1px solid var(--border-color);
}

.padding {
  padding: 16px;
}
