@each $type in (margin, padding) {
  @for $size from 0 through 5 {
    .#{$type}-#{$size} {
      #{$type}: var(--space-#{$size});
    }

    .#{$type}-x-#{$size} {
      #{$type}-left: var(--space-#{$size});
      #{$type}-right: var(--space-#{$size});
    }

    .#{$type}-y-#{$size} {
      #{$type}-top: var(--space-#{$size});
      #{$type}-bottom: var(--space-#{$size});
    }

    @each $side in (top, left, right, bottom) {
      .#{$type}-#{$side}-#{$size} {
        #{$type}-#{$side}: var(--space-#{$size});
      }
    }
  }
}

@each $screen, $size in $breakpoints {
  @media (min-width: #{$size}) {
    @each $type in (margin, padding) {
      @for $size from 0 through 5 {
        .#{$type}-#{$size}\@#{$screen} {
          #{$type}: var(--space-#{$size});
        }

        .#{$type}-x-#{$size}\@#{$screen} {
          #{$type}-left: var(--space-#{$size});
          #{$type}-right: var(--space-#{$size});
        }

        .#{$type}-y-#{$size}\@#{$screen} {
          #{$type}-top: var(--space-#{$size});
          #{$type}-bottom: var(--space-#{$size});
        }

        @each $side in (top, left, right, bottom) {
          .#{$type}-#{$side}-#{$size}\@#{$screen} {
            #{$type}-#{$side}: var(--space-#{$size});
          }
        }
      }
    }
  }
}
