.text-primary {
  font-size: 16px;
  color: var(--text-primary-color);
}

.text-secondary {
  font-size: 14px;
  color: var(--text-secondary-color);
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}
