<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title><%= page.title %> - Campo UI</title>
    <link rel="stylesheet" href="/material-ui.css">
    <link rel="stylesheet" href="/theme.css">
    <script type="module">
      import { init } from '/material-ui.bundle.js'
      init()
    </script>
  </head>
  <body>
    <%- page.content %>
  </body>
</html>
