---
layout: dashboard
title: New Post
---

<div class="top-app-bar top-app-bar--sticky-top">
  <div class="top-app-bar__action">
    <a href="../dashboard.html" class="icon-button">
      <span class="material-icons">arrow_back</span>
    </a>
  </div>
  <div class="top-app-bar__title">
    New Post
  </div>
</div>

<div class="padding-3">
  <form action="#" method="post">
    <div class="margin-bottom-3">
      <div class="text-field text-field--filled">
        <div class="text-field__container">
          <input class="text-field__input" type="text" name="title" value="" placeholder=" ">
          <label class="text-field__label">Title</label>
        </div>
      </div>
    </div>
    <div class="margin-bottom-3">
      <div class="text-field text-field--filled">
        <div class="text-field__container">
          <textarea class="text-field__input" name="name" rows="8" placeholder=" "></textarea>
          <label class="text-field__label">Content</label>
        </div>
      </div>
    </div>
    <button type="submit" class="button button--filled">
      Create Post
    </button>
  </form>
</div>
