---
layout: dashboard
title: Posts
---

<div class="top-app-bar top-app-bar--sticky-top">
  <div class="top-app-bar__action display-none@laptop">
    <button type="button" class="button button--icon" data-controller="toggle" data-toggle-target="#navigation-drawer" data-toggle-action="navigation-drawer#toggle">
      <span class="material-icons">menu</span>
    </button>
  </div>
  <div class="top-app-bar__title">
    Posts
  </div>
  <div class="top-app-bar__action">
    <a href="./dashboard/new.html" class="button button--filled">
      New Post
    </a>
  </div>
</div>

<div class="padding-3">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < 20; i++) { %>
        <tr>
          <td><%= lorem_words(6) %></td>
          <td><%= lorem_words(1) %></td>
          <td>12-01 12:00</td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
