---
layout: base
title: Standard drawer
---

<div class="app-bar app-bar--sticky-top">
  <div class="toolbar">
    <div class="toolbar__action">
      <button type="button" class="button button--icon" data-controller="toggle" data-toggle-target="#drawer" data-toggle-action="drawer#toggle">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
      </button>
    </div>
    <div class="toolbar__title">
      Title
    </div>
  </div>
</div>

<div class="drawer-wrapper">
  <div class="drawer drawer--clipped" id="drawer" data-controller="drawer">
    <div class="drawer__content">
      <div class="drawer__menu">
        <% for(var i = 0; i < 100 ; i++ ) { %>
          <a href="#" class="drawer__item">
            Drawer Item
          </a>
        <% } %>
      </div>
    </div>
    <div class="drawer__scrim" data-action="click->drawer#close">
    </div>
  </div>
  <div class="drawer-wrapper__content">
    <div class="padding">
      <% for(var i = 0; i < 100 ; i++ ) { %>
        <p>
          Main Content
        </p>
      <% } %>
    </div>
  </div>
</div>
