.app-bar-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.app-bar {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  z-index: 1;
  background: white;

  .toolbar {
    padding: 4px;
  }

  .tab__item:first-child {
    margin-left: 48px;
  }

  .button--icon {
    padding: 6px;
  }
}

.app-bar-primary {
  background: $primary-color;
  color: white;

  a,
  .button--icon,
  .button--text {
    color: white;

    &:hover {
      color: white;
    }

    svg {
      fill: white;
    }
  }

  .tab__item {
    color: white;
  }

  .tab__item--active {
    border-color: white;
  }
}

.app-bar-secondary {
  background: $secondary-color;
  color: white;

  a,
  .button--icon,
  .button--text {
    color: white;

    &:hover {
      color: white;
    }

    svg {
      fill: white;
    }
  }

  .tab__item {
    color: white;
  }

  .tab__item--active {
    border-color: white;
  }
}
