.app-bar-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.app-bar-wrapper__content {
  flex-grow: 1;
  display: flex;
  overflow: auto;

  .drawer {
    z-index: 90;
  }
}

.app-bar {
  box-shadow: 0 1px 0 var(--border-color);
  background: white;
  z-index: 100;

  .toolbar {
    padding: 4px;
  }

  .tab__item:first-child {
    margin-left: 48px;
  }

  .button--icon {
    padding: 6px;
  }
}

.app-bar--primary {
  background: var(--primary-color);
  color: white;

  .button--icon,
  .button--text {
    color: white;

    &:hover {
      color: white;
    }

    svg {
      fill: white;
    }
  }

  .tab__item {
    color: white;
  }

  .tab__item--active {
    border-color: white;
  }
}

.app-bar--secondary {
  background: var(--secondary-color);
  color: white;

  .button--icon,
  .button--text {
    color: white;

    &:hover {
      color: white;
    }

    svg {
      fill: white;
    }
  }

  .tab__item {
    color: white;
  }

  .tab__item--active {
    border-color: white;
  }
}
