*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: $text-primary-color;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.main {
  overflow: auto;
  flex-grow: 1;
}

.main__container {
  max-width: 960px;
  margin: 0 auto;
  padding: 16px;
}

.subheader {
  margin: 16px;
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
  color: $text-secondary-color;
}

.divider {
  margin: 8px 0;
  border: 0;
  border-bottom: 1px solid $border-color;
}

.text-primary {
  font-size: 16px;
  color: $text-primary-color;
}

.text-secondary {
  font-size: 14px;
  color: $text-secondary-color;
}

.flex {
  display: flex;
}

.flex-align-center {
  align-items: center;
}

.flex-grow {
  flex-grow: 1;
}

@media (max-width: 640px) {
  .container {
    padding: 8px;
  }
}

a {
  color: $primary-color;

  &:hover {
    opacity: 0.9;
  }
}

img {
  max-width: 100%;
}
