*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

a {
  color: var(--color-primary);
}

img {
  max-width: 100%;
}

.divider {
  margin: 8px 0;
  border: 0;
  border-bottom: 1px solid var(--color-outline);
}
