.button {
  margin: 0;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  outline: 0;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  white-space: nowrap;
  font-size: 16px;
}

.button--contained,
.button--text,
.button--outlined {
  min-width: 64px;
  font-size: 16px;
  line-height: 16px;
  justify-content: center;
}

.button--disabled {
  pointer-events: none;
}

.button--contained {
  padding: 10px 16px;
  border: 0;
  border-radius: 2px;
  color: $text-primary-color;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  background: white;
  transition: background-color 0.3s;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background: rgba(0, 0, 0, 0.1);
  }

  &.button--primary {
    background-color: $primary-color;
    color: $text-on-primary-color;

    &:hover {
      background: rgba($primary-color, 0.9)
    }

    &:active {
      background: rgba($primary-color, 0.7)
    }
  }

  &.button--secondary {
    background-color: $secondary-color;
    color: $text-on-secondary-color;

    &:hover {
      background: rgba($secondary-color, 0.9)
    }

    &:active {
      background: rgba($secondary-color, 0.7)
    }
  }

  &[disabled] {
    opacity: 0.3;
  }
}

.button--text {
  padding: 10px 8px;
  border: 0;
  border-radius: 2px;
  color: $text-primary-color;
  background: transparent;
  transition: background-color 0.3s;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background: rgba(0, 0, 0, 0.1);
  }

  &.button--primary {
    color: $primary-color;

    &:hover {
      background: rgba($primary-color, 0.1)
    }

    &:active {
      background: rgba($primary-color, 0.3)
    }
  }

  &.button--secondary {
    color: $secondary-color;

    &:hover {
      background: rgba($secondary-color, 0.1)
    }

    &:active {
      background: rgba($secondary-color, 0.3)
    }
  }

  &[disabled] {
    opacity: 0.3;
  }
}

.button--outlined {
  padding: 10px 16px;
  border-radius: 2px;
  border: 0;
  box-shadow: 0 0 0 1px $border-color;
  color: $text-primary-color;
  background: transparent;
  transition: background-color 0.3s;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background: rgba(0, 0, 0, 0.1);
  }

  &.button--primary {
    color: $primary-color;

    &:hover {
      background: rgba($primary-color, 0.1)
    }

    &:active {
      background: rgba($primary-color, 0.3)
    }
  }

  &.button--secondary {
    color: $secondary-color;

    &:hover {
      background: rgba($secondary-color, 0.1)
    }

    &:active {
      background: rgba($secondary-color, 0.3)
    }
  }

  &[disabled] {
    opacity: 0.3;
  }
}


.button--floating {
  padding: 16px;
  border: 0;
  border-radius: 28px;
  vertical-align: middle;
  color: $text-primary-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background: white;
  transition: background-color 0.3s;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background: rgba(0, 0, 0, 0.1);
  }

  &.button--primary {
    background-color: $primary-color;
    color: white;

    svg {
      fill: white;
    }

    &:hover {
      background: rgba($primary-color, 0.9)
    }

    &:active {
      background: rgba($primary-color, 0.7)
    }
  }

  &.button--secondary {
    background-color: $secondary-color;
    color: white;

    svg {
      fill: white;
    }

    &:hover {
      background: rgba($secondary-color, 0.9)
    }

    &:active {
      background: rgba($secondary-color, 0.7)
    }
  }

  &.button--extended {
    padding: 12px 20px 12px 12px;
    border-radius: 24px;
  }

  &[disabled] {
    opacity: 0.3;
  }
}

.button--icon {
  line-height: 1;
  padding: 6px;
  border: 0;
  border-radius: 50%;
  background: transparent;
  transition: background-color 0.3s;

  svg {
    fill: $text-secondary-color;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background: rgba(0, 0, 0, 0.1);
  }

  &.button--primary {
    svg {
      fill: $primary-color;
    }

    &:hover {
      background: rgba($primary-color, 0.1)
    }

    &:active {
      background: rgba($primary-color, 0.3)
    }
  }

  &.button--secondary {
    svg {
      fill: $secondary-color;
    }

    &:hover {
      background: rgba($secondary-color, 0.1)
    }

    &:active {
      background: rgba($secondary-color, 0.3)
    }
  }

  &[disabled] {
    opacity: 0.3;
  }
}

.button--toggle {
  padding: 6px;
  background: white;
  border: none;
  transition: background-color 0.3s;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background: rgba(0, 0, 0, 0.1);
  }
}
