.button {
  margin: 0;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  outline: 0;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  white-space: nowrap;
  font-size: 16px;
  position: relative;
  overflow: hidden;
}

.button--contained,
.button--text,
.button--outlined {
  min-width: 64px;
  font-size: 16px;
  line-height: 16px;
  justify-content: center;
}

.button--disabled {
  pointer-events: none;
}

.button--contained {
  padding: 10px 16px;
  border: 0;
  border-radius: 2px;
  color: var(--text-primary-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  background: white;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--text-primary-color);
    opacity: 0;
    transition: opacity 0.2s;
  }

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

    &::after {
      opacity: 0.1;
    }
  }

  &:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

    &::after {
      opacity: 0.3;
    }
  }

  &.button--primary {
    background-color: var(--primary-color);
    color: var(--text-on-primary-color);

    &::after {
      background: var(--text-on-primary-color);
    }
  }

  &.button--secondary {
    background-color: var(--secondary-color);
    color: var(--text-on-secondary-color);

    &::after {
      background: var(--text-on-primary-color);
    }
  }

  &[disabled] {
    opacity: 0.3;
  }
}

.button--text {
  padding: 10px 8px;
  border: 0;
  border-radius: 2px;
  color: var(--text-primary-color);
  background: transparent;
  transition: background-color 0.3s;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--text-primary-color);
    opacity: 0;
    transition: opacity 0.2s;
  }

  &:hover {
    &::after {
      opacity: 0.1;
    }
  }

  &:active {
    &::after {
      opacity: 0.3;
    }
  }

  &.button--primary {
    color: var(--primary-color);

    &::after {
      background: var(--primary-color);
    }
  }

  &.button--secondary {
    color: var(--secondary-color);

    &::after {
      background: var(--secondary-color);
    }
  }

  &[disabled] {
    opacity: 0.3;
  }
}

.button--outlined {
  padding: 10px 16px;
  border-radius: 2px;
  border: 0;
  box-shadow: 0 0 0 1px var(--border-color);
  color: var(--text-primary-color);
  background: transparent;
  transition: background-color 0.3s;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--text-primary-color);
    opacity: 0;
    transition: opacity 0.2s;
  }

  &:hover {
    &::after {
      opacity: 0.1;
    }
  }

  &:active {
    &::after {
      opacity: 0.3;
    }
  }

  &.button--primary {
    color: var(--primary-color);

    &::after {
      background: var(--primary-color);
    }
  }

  &.button--secondary {
    color: var(--secondary-color);

    &::after {
      background: var(--secondary-color);
    }
  }

  &[disabled] {
    opacity: 0.3;
  }
}


.button--floating {
  padding: 16px;
  border: 0;
  border-radius: 28px;
  vertical-align: middle;
  color: var(--text-primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background: white;
  transition: background-color 0.3s;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--text-primary-color);
    opacity: 0;
    transition: opacity 0.2s;
  }

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

    &::after {
      opacity: 0.1;
    }
  }

  &:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

    &::after {
      opacity: 0.3;
    }
  }

  &.button--primary {
    background-color: var(--primary-color);
    color: white;

    svg {
      fill: var(--text-on-primary-color);
    }

    &::after {
      background: var(--text-on-primary-color);
    }
  }

  &.button--secondary {
    background-color: var(--secondary-color);
    color: white;

    svg {
      fill: var(--text-on-secondary-color);
    }

    &::after {
      background: var(--text-on-secondary-color);
    }
  }

  &.button--extended {
    padding: 12px 20px 12px 12px;
    border-radius: 24px;
  }

  &[disabled] {
    opacity: 0.3;
  }
}

.button--icon {
  line-height: 1;
  padding: 6px;
  border: 0;
  border-radius: 50%;
  background: transparent;

  svg {
    fill: var(--text-secondary-color);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.2s;
    opacity: 0;
    background: var(--text-secondary-color);
  }

  &:hover {
    &::after {
      opacity: 0.1;
    }
  }

  &:active {
    &::after {
      opacity: 0.3;
    }
  }

  &.button--primary {
    svg {
      fill: var(--primary-color);
    }

    &::after {
      background: var(--primary-color);
    }
  }

  &.button--secondary {
    svg {
      fill: var(--secondary-color);
    }

    &::after {
      background: var(--secondary-color);
    }
  }

  &[disabled] {
    opacity: 0.3;
  }
}

.button--toggle {
  padding: 6px;
  background: white;
  border: none;
  transition: background-color 0.3s;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background: rgba(0, 0, 0, 0.1);
  }
}
