.checkbox {
  display: inline-block;
  position: relative;
  height: 36px;
  width: 36px;
  padding: 6px;
  cursor: pointer;

  input[type="checkbox"] {
    display: none;

    &:checked ~ .checkbox__icon {
      border-color: var(--primary-color);
      background: var(--primary-color);

      svg {
        opacity: 1;
      }

      path {
        stroke-dashoffset: 0;
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.2s;
    opacity: 0;
    background: var(--primary-color);
    border-radius: 50%;
  }

  &:hover {
    &::after {
      opacity: 0.1;
    }
  }

  &:active {
    &::after {
      opacity: 0.3;
    }
  }
}

.checkbox__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 9px;
  left: 9px;
  border: 2px solid var(--text-secondary-color);
  border-radius: 2px;
  transition: background-color 0.15s, border-color 0.15s;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
  }

  path {
    stroke: white;
    stroke-width: 3px;
    stroke-dasharray: 30px;
    stroke-dashoffset: 30px;
    transition: stroke-dashoffset 0.15s cubic-bezier(0.4, 0, 0.6, 1);
  }
}
