:root {
  --color-primary: 68 94 145;
  --color-surface-tint: 68 94 145;
  --color-on-primary: 255 255 255;
  --color-primary-container: 216 226 255;
  --color-on-primary-container: 0 26 66;
  --color-secondary: 87 94 113;
  --color-on-secondary: 255 255 255;
  --color-secondary-container: 219 226 249;
  --color-on-secondary-container: 20 27 44;
  --color-tertiary: 113 85 115;
  --color-on-tertiary: 255 255 255;
  --color-tertiary-container: 252 215 251;
  --color-on-tertiary-container: 41 19 45;
  --color-error: 186 26 26;
  --color-on-error: 255 255 255;
  --color-error-container: 255 218 214;
  --color-on-error-container: 65 0 2;
  --color-background: 249 249 255;
  --color-on-background: 26 27 32;
  --color-surface: 249 249 255;
  --color-on-surface: 26 27 32;
  --color-surface-variant: 225 226 236;
  --color-on-surface-variant: 68 71 79;
  --color-outline: 117 119 127;
  --color-outline-variant: 196 198 208;
  --color-shadow: 0 0 0;
  --color-scrim: 0 0 0;
  --color-inverse-surface: 47 48 54;
  --color-inverse-on-surface: 240 240 247;
  --color-inverse-primary: 173 198 255;
  --color-primary-fixed: 216 226 255;
  --color-on-primary-fixed: 0 26 66;
  --color-primary-fixed-dim: 173 198 255;
  --color-on-primary-fixed-variant: 43 70 120;
  --color-secondary-fixed: 219 226 249;
  --color-on-secondary-fixed: 20 27 44;
  --color-secondary-fixed-dim: 191 198 220;
  --color-on-secondary-fixed-variant: 63 71 89;
  --color-tertiary-fixed: 252 215 251;
  --color-on-tertiary-fixed: 41 19 45;
  --color-tertiary-fixed-dim: 222 188 223;
  --color-on-tertiary-fixed-variant: 88 62 91;
  --color-surface-dim: 217 217 224;
  --color-surface-bright: 249 249 255;
  --color-surface-container-lowest: 255 255 255;
  --color-surface-container-low: 243 243 250;
  --color-surface-container: 238 237 244;
  --color-surface-container-high: 232 231 239;
  --color-surface-container-highest: 226 226 233;
}

.dark {
  --color-primary: 173 198 255;
  --color-surface-tint: 173 198 255;
  --color-on-primary: 17 47 96;
  --color-primary-container: 43 70 120;
  --color-on-primary-container: 216 226 255;
  --color-secondary: 191 198 220;
  --color-on-secondary: 41 48 65;
  --color-secondary-container: 63 71 89;
  --color-on-secondary-container: 219 226 249;
  --color-tertiary: 222 188 223;
  --color-on-tertiary: 64 40 67;
  --color-tertiary-container: 88 62 91;
  --color-on-tertiary-container: 252 215 251;
  --color-error: 255 180 171;
  --color-on-error: 105 0 5;
  --color-error-container: 147 0 10;
  --color-on-error-container: 255 218 214;
  --color-background: 17 19 24;
  --color-on-background: 226 226 233;
  --color-surface: 17 19 24;
  --color-on-surface: 226 226 233;
  --color-surface-variant: 68 71 79;
  --color-on-surface-variant: 196 198 208;
  --color-outline: 142 144 153;
  --color-outline-variant: 68 71 79;
  --color-shadow: 0 0 0;
  --color-scrim: 0 0 0;
  --color-inverse-surface: 226 226 233;
  --color-inverse-on-surface: 47 48 54;
  --color-inverse-primary: 68 94 145;
  --color-primary-fixed: 216 226 255;
  --color-on-primary-fixed: 0 26 66;
  --color-primary-fixed-dim: 173 198 255;
  --color-on-primary-fixed-variant: 43 70 120;
  --color-secondary-fixed: 219 226 249;
  --color-on-secondary-fixed: 20 27 44;
  --color-secondary-fixed-dim: 191 198 220;
  --color-on-secondary-fixed-variant: 63 71 89;
  --color-tertiary-fixed: 252 215 251;
  --color-on-tertiary-fixed: 41 19 45;
  --color-tertiary-fixed-dim: 222 188 223;
  --color-on-tertiary-fixed-variant: 88 62 91;
  --color-surface-dim: 17 19 24;
  --color-surface-bright: 55 57 62;
  --color-surface-container-lowest: 12 14 19;
  --color-surface-container-low: 26 27 32;
  --color-surface-container: 30 31 37;
  --color-surface-container-high: 40 42 47;
  --color-surface-container-highest: 51 53 58;
}
