:root {
  --color-primary: rgb(68 94 145);
  --color-surface-tint: rgb(68 94 145);
  --color-on-primary: rgb(255 255 255);
  --color-primary-container: rgb(216 226 255);
  --color-on-primary-container: rgb(0 26 66);
  --color-secondary: rgb(87 94 113);
  --color-on-secondary: rgb(255 255 255);
  --color-secondary-container: rgb(219 226 249);
  --color-on-secondary-container: rgb(20 27 44);
  --color-tertiary: rgb(113 85 115);
  --color-on-tertiary: rgb(255 255 255);
  --color-tertiary-container: rgb(252 215 251);
  --color-on-tertiary-container: rgb(41 19 45);
  --color-error: rgb(186 26 26);
  --color-on-error: rgb(255 255 255);
  --color-error-container: rgb(255 218 214);
  --color-on-error-container: rgb(65 0 2);
  --color-background: rgb(249 249 255);
  --color-on-background: rgb(26 27 32);
  --color-surface: rgb(249 249 255);
  --color-on-surface: rgb(26 27 32);
  --color-surface-variant: rgb(225 226 236);
  --color-on-surface-variant: rgb(68 71 79);
  --color-outline: rgb(117 119 127);
  --color-outline-variant: rgb(196 198 208);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(47 48 54);
  --color-inverse-on-surface: rgb(240 240 247);
  --color-inverse-primary: rgb(173 198 255);
  --color-primary-fixed: rgb(216 226 255);
  --color-on-primary-fixed: rgb(0 26 66);
  --color-primary-fixed-dim: rgb(173 198 255);
  --color-on-primary-fixed-variant: rgb(43 70 120);
  --color-secondary-fixed: rgb(219 226 249);
  --color-on-secondary-fixed: rgb(20 27 44);
  --color-secondary-fixed-dim: rgb(191 198 220);
  --color-on-secondary-fixed-variant: rgb(63 71 89);
  --color-tertiary-fixed: rgb(252 215 251);
  --color-on-tertiary-fixed: rgb(41 19 45);
  --color-tertiary-fixed-dim: rgb(222 188 223);
  --color-on-tertiary-fixed-variant: rgb(88 62 91);
  --color-surface-dim: rgb(217 217 224);
  --color-surface-bright: rgb(249 249 255);
  --color-surface-container-lowest: rgb(255 255 255);
  --color-surface-container-low: rgb(243 243 250);
  --color-surface-container: rgb(238 237 244);
  --color-surface-container-high: rgb(232 231 239);
  --color-surface-container-highest: rgb(226 226 233);
}

.dark {
  --color-primary: rgb(173 198 255);
  --color-surface-tint: rgb(173 198 255);
  --color-on-primary: rgb(17 47 96);
  --color-primary-container: rgb(43 70 120);
  --color-on-primary-container: rgb(216 226 255);
  --color-secondary: rgb(191 198 220);
  --color-on-secondary: rgb(41 48 65);
  --color-secondary-container: rgb(63 71 89);
  --color-on-secondary-container: rgb(219 226 249);
  --color-tertiary: rgb(222 188 223);
  --color-on-tertiary: rgb(64 40 67);
  --color-tertiary-container: rgb(88 62 91);
  --color-on-tertiary-container: rgb(252 215 251);
  --color-error: rgb(255 180 171);
  --color-on-error: rgb(105 0 5);
  --color-error-container: rgb(147 0 10);
  --color-on-error-container: rgb(255 218 214);
  --color-background: rgb(17 19 24);
  --color-on-background: rgb(226 226 233);
  --color-surface: rgb(17 19 24);
  --color-on-surface: rgb(226 226 233);
  --color-surface-variant: rgb(68 71 79);
  --color-on-surface-variant: rgb(196 198 208);
  --color-outline: rgb(142 144 153);
  --color-outline-variant: rgb(68 71 79);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(226 226 233);
  --color-inverse-on-surface: rgb(47 48 54);
  --color-inverse-primary: rgb(68 94 145);
  --color-primary-fixed: rgb(216 226 255);
  --color-on-primary-fixed: rgb(0 26 66);
  --color-primary-fixed-dim: rgb(173 198 255);
  --color-on-primary-fixed-variant: rgb(43 70 120);
  --color-secondary-fixed: rgb(219 226 249);
  --color-on-secondary-fixed: rgb(20 27 44);
  --color-secondary-fixed-dim: rgb(191 198 220);
  --color-on-secondary-fixed-variant: rgb(63 71 89);
  --color-tertiary-fixed: rgb(252 215 251);
  --color-on-tertiary-fixed: rgb(41 19 45);
  --color-tertiary-fixed-dim: rgb(222 188 223);
  --color-on-tertiary-fixed-variant: rgb(88 62 91);
  --color-surface-dim: rgb(17 19 24);
  --color-surface-bright: rgb(55 57 62);
  --color-surface-container-lowest: rgb(12 14 19);
  --color-surface-container-low: rgb(26 27 32);
  --color-surface-container: rgb(30 31 37);
  --color-surface-container-high: rgb(40 42 47);
  --color-surface-container-highest: rgb(51 53 58);
}
