.drawer-wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.drawer {
  margin-left: -240px;
  width: 240px;
  box-sizing: border-box;
  border-right: 1px solid var(--border-color);
  background: white;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  transition: 0.15s margin;
}

.drawer--open {
  margin-left: 0;
}

.drawer__header,
.drawer__footer {
  flex-grow: 0;

  .toolbar {
    padding: 4px;
  }
}

.drawer__body {
  flex-grow: 1;
  overflow: auto;
}

.drawer-background {
  display: none;
}

.drawer__menu {
}

.drawer__item {
  padding: 8px;
  margin: 8px;
  display: flex;
  color: var(--text-primary-color);
  text-decoration: none;
  line-height: 1;
  align-items: center;
  border-radius: 4px;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background: rgba(0, 0, 0, 0.075);
  }


  &.active {
    color: var(--primary-color);
    background: rgba(33, 150, 243, 0.3);

    .material-icons {
      color: var(--primary-color);
    }
  }
}

@media (max-width: $mobile-break-point) {
  .drawer {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 32;
  }

  .drawer--open + .drawer-background {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 16;
  }
}
