.drawer {
  width: 256px;
  margin-left: -256px;
  z-index: 110;
}

.drawer__content {
  box-sizing: border-box;
  box-shadow: 1px 0 0 var(--border-color);
  background: white;
  overflow: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  z-index: 32;
}

.drawer__scrim {
  display: none;
  z-index: 16;
}

.drawer--open {
  margin-left: 0;
}

@media (max-width: $phone-break-point - 1px) {
  .drawer {
    position: fixed;
  }

  .drawer--open {
    .drawer__scrim {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
    }
  }
}

@media (min-width: $phone-break-point) {
  .drawer--clipped {
    z-index: 90;

    .drawer__content {
      top: 56px;
    }
  }

  .drawer--permanently {
    margin-left: 0;
  }

  .drawer--modal {
    position: fixed;

    &.drawer--open {
      .drawer__scrim {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

// ---

.drawer__menu {
  margin: 8px 0;
}

.drawer__item {
  padding: 10px;
  margin: 6px;
  display: flex;
  text-decoration: none;
  line-height: 20px;
  align-items: center;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  color: var(--text-primary-color);

  svg {
    fill: var(--text-secondary-color);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--primary-color);
    opacity: 0;
    transition: opacity 0.2s;
  }

  &:hover {
    &::after {
      opacity: 0.1;
    }
  }

  &:active {
    &::after {
      opacity: 0.3;
    }
  }

  &.drawer__item--active {
    color: var(--primary-color);

    svg {
      fill: var(--primary-color);
    }

    &::after {
      opacity: 0.3;
    }
  }
}

.drawer__item__icon {
  height: 24px;
  width: 24px;
  margin: -2px 16px -2px 0;
}
