.drawer-wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.drawer {
  display: flex;
}

.drawer__container {
  width: 240px;
  box-sizing: border-box;
  border-right: 1px solid var(--border-color);
  background: white;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
}

.drawer--open .drawer__container {
  margin-left: 0;
}

.drawer__header,
.drawer__footer {
  flex-grow: 0;

  .toolbar {
    padding: 4px;
  }
}

.drawer__body {
  flex-grow: 1;
  overflow: auto;
}

.drawer__scrim {
  display: none;
}

.drawer__menu {
  margin: 8px 0;
}

.drawer__item {
  padding: 10px;
  margin: 6px;
  display: flex;
  color: var(--text-primary-color);
  text-decoration: none;
  line-height: 1;
  align-items: center;
  border-radius: 4px;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background: rgba(0, 0, 0, 0.075);
  }

  &.drawer__item--active {
    color: var(--primary-color);
  }
}

@media (max-width: $mobile-break-point) {
  .drawer__container {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 32;
  }

  .drawer--open .drawer__scrim {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 16;
  }
}
