.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 8px 0;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  min-width: 240px;
  z-index: 1;
  transform-origin: top left;
}

.dropdown--open .dropdown__menu {
  display: block;
}

.dropdown__menu--top-right {
  left: auto;
  right: 0;
  transform-origin: top right;
}

.dropdown__menu--bottom-left {
  top: auto;
  bottom: 100%;
  transform-origin: bottom left;
}

.dropdown__menu--bottom-right {
  top: auto;
  bottom: 100%;
  left: auto;
  right: 0;
  transform-origin: bottom right;
}

.dropdown__item {
  display: flex;
  width: 100%;
  border: none;
  outline: 0;
  background: transparent;
  font-size: 1em;
  font-family: sans-serif;
  padding: 8px 16px;
  line-height: 24px;
  text-decoration: none;
  color: var(--text-primary-color);
  cursor: pointer;

  &:hover {
    background: #f5f5f5;
  }
}

.dropdown__item__icon {
  height: 24px;
  width: 24px;
  margin-right: 16px;

  svg {
    height: 24px;
    width: 24px;
    fill: var(--text-secondary-color);
  }
}
