.form {
}

.form__field {
  display: flex;
}

.form__row {
  display: flex;
  margin-bottom: 12px;
}

.form__column {
  flex-grow: 1;
  margin: 0 8px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.form__label {
  display: block;
  padding: 8px;
  color: var(--text-secondary-color);
}
