.form {
}

.form__field {
  margin-bottom: 12px;
}

.form__row {
  display: flex;
  margin: 0 -8px;

  .form__field {
    flex-grow: 1;
    padding: 0 8px;
  }
}

.form__label {
  display: block;
  margin-bottom: 8px;
  color: var(--text-secondary-color);
}
