.list {
  display: flex;
  flex-direction: column;
}

.list--bordered {
  .list-item:not(:last-child) {
    border-bottom:  1px solid $border-color;
  }
}

.list__item {
  display: flex;
}

.list__item--align-center {
  align-items: center;
}

.list__avatar {
  padding: 16px;
  flex: 0 0 72px;
  line-height: 1;

  img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: block;
  }
}

.list__content {
  padding: 16px 0;
  flex-grow: 1;
  min-width: 0;
  color: $text-primary-color;

  &:first-child {
    padding-left: 16px;
  }

  &:last-child {
    padding-right: 16px;
  }
}

.list__content--text-overflow {
  overflow: hidden;
  white-space: nowrap;

  .list__primary-text,
  .list__secondary-text {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.list__primary-text {
  font-size: 16px;
  margin: 0;
  font-weight: normal;
  line-height: 1;
}

.list__secondary-text {
  font-size: 14px;
  margin: 10px 0 0;
  line-height: 1;
  color: $text-secondary-color;
}

.list__icon {
  padding: 16px;
  flex: 0 0 24px;
  line-height: 0;
  color: $text-secondary-color;

  &:first-child {
    flex: 0 0 40px;
  }

  svg {
    fill: $text-secondary-color;
  }
}

a.list__item,
a.list__avatar,
a.list__content,
a.list__icon {
  text-decoration: none;
}

a.list__item {
  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background: rgba(0, 0, 0, 0.075);
  }
}
