.list {
  display: flex;
  flex-direction: column;
}

.list--bordered {
  .list-item:not(:last-child) {
    border-bottom:  1px solid var(--border-color);
  }
}

.list__item {
  display: flex;
}

.list__avatar {
  padding: 16px;
  flex: 0 0 72px;
  line-height: 1;

  img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: block;
  }
}

.list__content {
  padding: 16px 0;
  flex-grow: 1;
  min-width: 0;
  color: var(--text-primary-color);

  &:first-child {
    padding-left: 16px;
  }

  &:last-child {
    padding-right: 16px;
  }

  &.align-center {
    align-self: center;
  }

  &.text-overflow {
    overflow: hidden;
    white-space: nowrap;

    .list-item-content-primary,
    .list-item-content-secondary {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.list__primary-text {
  font-size: 16px;
  margin: 0;
  font-weight: normal;
  line-height: 22px;
}

.list__secondary-text {
  font-size: 14px;
  margin: 0;
  line-height: 18px;
  color: var(--text-secondary-color);
}

.list__icon {
  padding: 16px;
  flex: 0 0 24px;
  line-height: 0;
  color: var(--text-secondary-color);

  &.align-center {
    align-self: center;
  }

  &:first-child {
    flex: 0 0 40px;
  }
}

a.list__item,
a.list__avatar,
a.list__content,
a.list__icon {
  text-decoration: none;
}

a.list__item {
  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background: rgba(0, 0, 0, 0.075);
  }
}
