.selector {
  padding: 4px;
  position: relative;

  .chip {
    margin: 4px;
  }
}

.selector__content {
  display: flex;
  flex-wrap: wrap;
}

.selector__select {
  display: none;
}

.selector__input {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 4px 0;
  margin: 4px;
  line-height: 1.5;
  flex-grow: 1;
}

.selector__menu {
  display: none;
}

.selector--focus {
  .selector--content {
  }

  .selector__menu {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    z-index: 1;
    background: white;
  }
}


.selector__item {
  border: none;
  padding: 8px 12px;
  line-height: 24px;
  font-size: 16px;
  text-align: left;
  outline: none;
  background: transparent;
}

.selector__item:hover,
.selector__item--focus {
  background: rgba(0, 0, 0, 0.05);
}
