.toolbar {
  display: flex;
  align-items: start;
}

.toolbar__action {
  flex-grow: 0;
  padding: 6px;
}

.toolbar__title {
  padding: 12px;
  line-height: 24px;
  flex-grow: 1;
  font-weight: bold;

  a {
    color: $text-primary-color;
    text-decoration: none;
  }
}
