.toolbar {
  display: flex;
  align-items: start;
  padding: 4px;
}

.toolbar__action {
  flex-grow: 0;
  padding: 4px;

  .button--contained,
  .button--text {
    margin: 2px;
  }
}

.toolbar__title {
  padding: 12px;
  line-height: 24px;
  flex-grow: 1;
  font-weight: bold;

  a {
    color: var(--text-primary-color);
    text-decoration: none;
  }
}

.toolbar__space {
  flex-grow: 1;
}
