.display-large {
  font-size: 57px;
  line-height: 64px;
  font-weight: 400;
}

.display-medium {
  font-size: 45px;
  line-height: 52px;
  font-weight: 400;
}

.display-small {
  font-size: 36px;
  line-height: 44px;
  font-weight: 400;
}

.headline-large {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
}

.headline-medium {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
}

.headline-small {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.title-large {
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
}

.title-medium {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.title-small {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.label-large {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.label-medium {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.label-small {
  font-size: 11px;
  line-height: 16px;
  font-weight: 500;
}

.body-large {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.body-medium {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.body-small {
  font-size: 12px;
  line-height: 16px;
}
