$breakpoints: (
  "tablet": 600px,
  "laptop": 1240px,
  "desktop": 1440px
);

:root {
  @include color-scheme(
    $primary: #6750A4,
    $secondary: #625B71,
    $tertiary: #7D5260,
    $neutral: #FFFFFF,
    $neutral-variant: #FFFFFF,
    $error: #B3261E
  );

  --opacity-state-hover: 8%;
  --opacity-state-focus: 12%;
  --opacity-state-press: 12%;
  --opacity-state-drag: 16%;

  --opacity-elevation-0: 0%;
  --opacity-elevation-1: 5%;
  --opacity-elevation-2: 8%;
  --opacity-elevation-3: 11%;
  --opacity-elevation-4: 12%;
  --opacity-elevation-5: 14%;

  --shadow-0: none;
  --shadow-1: 0 1px 2px rgba(0, 0, 0, 0.3);
  --shadow-2: 0 2px 3px rgba(0, 0, 0, 0.3);
  --shadow-3: 0 3px 4px rgba(0, 0, 0, 0.3);
  --shadow-4: 0 4px 5px rgba(0, 0, 0, 0.3);
  --shadow-5: 0 5px 6px rgba(0, 0, 0, 0.3);

  --space-0: 0px;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
}
