<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title><%= page.title %> - Campo UI</title>
    <link rel="stylesheet" href="/css/campo-ui.css">
    <link rel="stylesheet" href="/theme.css">
    <script>
      import init from 'material-ui.bundle'
      init()
    </script>
  </head>
  <body class="app">
    <%- page.content %>
  </body>
</html>
