<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/campo-ui.css">
    <link rel="stylesheet" href="/theme.css">
    <script src="/campo-ui.js"></script>
  </head>
  <body>
    <div class="appbar appbar-fixed appbar-white">
      <div class="toolbar toolbar-fixed toolbar-white">
        <div class="toolbar-action">
          <button type="button" class="button button-icon" data-toggle="drawer" data-target="#drawer">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
          </button>
        </div>
        <div class="toolbar-title">
          Campo UI
        </div>
      </div>
    </div>

    <nav id="drawer" class="drawer">
      <div class="drawer-content">
        <div class="drawer-header">
          <div class="toolbar">
            <div class="toolbar-title">
              Header
            </div>
          </div>
        </div>
        <div class="drawer-body">
          <div class="list">
            <% ['button', 'card', 'dialog', 'drawer', 'dropdown', 'toolbar'].forEach(function(name) { %>
              <a href="/components/<%= name %>.html" class="list-item">
                <div class="list-item-content">
                  <%= name[0].toUpperCase() + name.slice(1) %>
                </div>
              </a>
            <% }); %>
          </div>
        </div>
        <div class="drawer-footer">
          <div class="toolbar-title">
            Footer
          </div>
        </div>
      </div>
    </nav>

    <main class="main with-appbar">
      <div class="container">
        <%- page.content %>
      </div>
    </main>
  </body>
</html>
