<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="campo-ui.css">
    <script src="campo-ui.js"></script>
  </head>
  <body>
    <%- page.content %>
  </body>
</html>
