@use "sass:color";

@mixin light-scheme (
  $primary,
  $secondary,
  $tertiary,
  $neutral,
  $neutral-variant,
  $error
) {
  --color-primary: #{color.change($primary, $lightness: 40%)};
  --color-on-primary: #{color.change($primary, $lightness: 100%)};
  --color-primary-container: #{color.change($primary, $lightness: 90%)};
  --color-on-primary-container: #{color.change($primary, $lightness: 10%)};

  --color-secondary: #{color.change($secondary, $lightness: 40%)};
  --color-on-secondary: #{color.change($secondary, $lightness: 100%)};
  --color-secondary-container: #{color.change($secondary, $lightness: 90%)};
  --color-on-secondary-container: #{color.change($secondary, $lightness: 10%)};

  --color-tertiary: #{color.change($tertiary, $lightness: 40%)};
  --color-on-tertiary: #{color.change($tertiary, $lightness: 100%)};
  --color-tertiary-container: #{color.change($tertiary, $lightness: 90%)};
  --color-on-tertiary-container: #{color.change($tertiary, $lightness: 10%)};

  --color-error: #{color.change($error, $lightness: 40%)};
  --color-on-error: #{color.change($error, $lightness: 100%)};
  --color-error-container: #{color.change($error, $lightness: 90%)};
  --color-on-error-container: #{color.change($error, $lightness: 10%)};

  --color-background: #{color.change($neutral, $lightness: 99%)};
  --color-on-background: #{color.change($neutral, $lightness: 10%)};
  --color-surface: #{color.change($neutral, $lightness: 99%)};
  --color-on-surface: #{color.change($neutral, $lightness: 10%)};

  $surface-color: color.change($neutral, $lightness: 99%);
  --color-surface-1: #{color.mix($primary, $surface-color, 5%)};
  --color-surface-2: #{color.mix($primary, $surface-color, 8%)};
  --color-surface-3: #{color.mix($primary, $surface-color, 11%)};
  --color-surface-4: #{color.mix($primary, $surface-color, 12%)};
  --color-surface-5: #{color.mix($primary, $surface-color, 14%)};

  --color-inverse-surface: #{color.change($neutral, $lightness: 20%)};
  --color-on-inverse-surface: #{color.change($neutral, $lightness: 95%)};
  --color-inverse-primary: #{color.change($primary, $lightness: 80%)};

  --color-disabled: #{color.change($neutral, $lightness: 10%, $alpha: 0.12)};
  --color-on-disabled: #{color.change($neutral, $lightness: 10%, $alpha: 0.38)};

  --color-surface-variant: #{color.change($neutral-variant, $lightness: 90%)};
  --color-on-surface-variant: #{color.change($neutral-variant, $lightness: 30%)};
  --color-outline: #{color.change($neutral-variant, $lightness: 50%)};

  --shadow-0: none;
  --shadow-1: 0 1px 2px #{color.change($neutral, $lightness: 10%, $alpha: 0.3)};
  --shadow-2: 0 2px 3px #{color.change($neutral, $lightness: 10%, $alpha: 0.3)};
  --shadow-3: 0 3px 4px #{color.change($neutral, $lightness: 10%, $alpha: 0.3)};
  --shadow-4: 0 4px 5px #{color.change($neutral, $lightness: 10%, $alpha: 0.3)};
  --shadow-5: 0 5px 6px #{color.change($neutral, $lightness: 10%, $alpha: 0.3)};

  --color-scrim: #{color.change($neutral, $lightness: 10%, $alpha: 0.5)};
}

@mixin dark-scheme (
  $primary,
  $secondary,
  $tertiary,
  $neutral,
  $neutral-variant,
  $error
) {
  --color-primary: #{color.change($primary, $lightness: 80%)};
  --color-on-primary: #{color.change($primary, $lightness: 20%)};
  --color-primary-container: #{color.change($primary, $lightness: 30%)};
  --color-on-primary-container: #{color.change($primary, $lightness: 90%)};

  --color-secondary: #{color.change($secondary, $lightness: 80%)};
  --color-on-secondary: #{color.change($secondary, $lightness: 20%)};
  --color-secondary-container: #{color.change($secondary, $lightness: 30%)};
  --color-on-secondary-container: #{color.change($secondary, $lightness: 90%)};

  --color-tertiary: #{color.change($tertiary, $lightness: 80%)};
  --color-on-tertiary: #{color.change($tertiary, $lightness: 20%)};
  --color-tertiary-container: #{color.change($tertiary, $lightness: 30%)};
  --color-on-tertiary-container: #{color.change($tertiary, $lightness: 90%)};

  --color-error: #{color.change($error, $lightness: 80%)};
  --color-on-error: #{color.change($error, $lightness: 20%)};
  --color-error-container: #{color.change($error, $lightness: 30%)};
  --color-on-error-container: #{color.change($error, $lightness: 90%)};

  --color-background: #{color.change($neutral, $lightness: 10%)};
  --color-on-background: #{color.change($neutral, $lightness: 90%)};
  --color-surface: #{color.change($neutral, $lightness: 10%)};
  --color-on-surface: #{color.change($neutral, $lightness: 90%)};

  $surface-color: color.change($neutral, $lightness: 10%);
  --color-surface-1: #{color.mix($primary, $surface-color, 5%)};
  --color-surface-2: #{color.mix($primary, $surface-color, 8%)};
  --color-surface-3: #{color.mix($primary, $surface-color, 11%)};
  --color-surface-4: #{color.mix($primary, $surface-color, 12%)};
  --color-surface-5: #{color.mix($primary, $surface-color, 14%)};

  --color-inverse-surface: #{color.change($neutral, $lightness: 90%)};
  --color-on-inverse-surface: #{color.change($neutral, $lightness: 20%)};
  --color-inverse-primary: #{color.change($primary, $lightness: 40%)};

  --color-disabled: #{color.change($neutral, $lightness: 90%, $alpha: 0.12)};
  --color-on-disabled: #{color.change($neutral, $lightness: 90%, $alpha: 0.38)};

  --color-surface-variant: #{color.change($neutral, $lightness: 30%)};
  --color-on-surface-variant: #{color.change($neutral, $lightness: 80%)};
  --color-outline: #{color.change($neutral, $lightness: 60%)};

  --shadow-0: none;
  --shadow-1: 0 1px 2px #{color.change($neutral, $lightness: 90%, $alpha: 0.3)};
  --shadow-2: 0 2px 3px #{color.change($neutral, $lightness: 90%, $alpha: 0.3)};
  --shadow-3: 0 3px 4px #{color.change($neutral, $lightness: 90%, $alpha: 0.3)};
  --shadow-4: 0 4px 5px #{color.change($neutral, $lightness: 90%, $alpha: 0.3)};
  --shadow-5: 0 5px 6px #{color.change($neutral, $lightness: 90%, $alpha: 0.3)};

  --color-scrim: #{color.change($neutral, $lightness: 90%, $alpha: 0.1)};
}

@mixin color-scheme (
  $primary,
  $secondary,
  $tertiary,
  $neutral,
  $neutral-variant,
  $error
) {
  @media (prefers-color-scheme: light) {
    @include light-scheme(
      $primary,
      $secondary,
      $tertiary,
      $neutral,
      $neutral-variant,
      $error
    )
  }

  @media (prefers-color-scheme: dark) {
    @include dark-scheme(
      $primary,
      $secondary,
      $tertiary,
      $neutral,
      $neutral-variant,
      $error
    )
  }

  .light-scheme {
    color-scheme: light;

    @include light-scheme(
      $primary,
      $secondary,
      $tertiary,
      $neutral,
      $neutral-variant,
      $error
    )
  }

  .dark-scheme {
    color-scheme: dark;

    @include dark-scheme(
      $primary,
      $secondary,
      $tertiary,
      $neutral,
      $neutral-variant,
      $error
    )
  }
}
