@use "sass:color";

@mixin color-scheme(
  $primary: 0,
  $secondary: 0,
  $tertiary: 0,
  $neutral: 0,
  $error: 0
) {
  @if $primary != 0 {
    --color-primary: #{color.change($primary, $lightness: 40%)};
    --color-on-primary: #{color.change($primary, $lightness: 100%)};
    --color-primary-container: #{color.change($primary, $lightness: 90%)};
    --color-on-primary-container: #{color.change($primary, $lightness: 10%)};
  }

  @if $secondary != 0 {
    --color-secondary: #{color.change($secondary, $lightness: 40%)};
    --color-on-secondary: #{color.change($secondary, $lightness: 100%)};
    --color-secondary-container: #{color.change($secondary, $lightness: 90%)};
    --color-on-secondary-container: #{color.change($secondary, $lightness: 10%)};
  }

  @if $tertiary != 0 {
    --color-tertiary: #{color.change($tertiary, $lightness: 40%)};
    --color-on-tertiary: #{color.change($tertiary, $lightness: 100%)};
    --color-tertiary-container: #{color.change($tertiary, $lightness: 90%)};
    --color-on-tertiary-container: #{color.change($tertiary, $lightness: 10%)};
  }

  @if $error != 0 {
    --color-error: #{color.change($error, $lightness: 40%)};
    --color-on-error: #{color.change($error, $lightness: 100%)};
    --color-error-container: #{color.change($error, $lightness: 90%)};
    --color-on-error-container: #{color.change($error, $lightness: 10%)};
  }

  @if $neutral != 0 {
    --color-background: #{color.change($neutral, $lightness: 99%)};
    --color-on-background: #{color.change($neutral, $lightness: 10%)};
    --color-surface: #{color.change($neutral, $lightness: 99%)};
    --color-on-surface: #{color.change($neutral, $lightness: 10%)};
    --color-surface-variant: #{color.change($neutral, $lightness: 90%)};
    --color-on-surface-variant: #{color.change($neutral, $lightness: 30%)};
    --color-outline: #{color.change($neutral, $lightness: 50%)};
  }

  &.dark-theme {
    @if $primary != 0 {
      --color-primary: #{color.change($primary, $lightness: 80%)};
      --color-on-primary: #{color.change($primary, $lightness: 20%)};
      --color-primary-container: #{color.change($primary, $lightness: 30%)};
      --color-on-primary-container: #{color.change($primary, $lightness: 90%)};
    }

    @if $secondary != 0 {
      --color-secondary: #{color.change($secondary, $lightness: 80%)};
      --color-on-secondary: #{color.change($secondary, $lightness: 20%)};
      --color-secondary-container: #{color.change($secondary, $lightness: 30%)};
      --color-on-secondary-container: #{color.change($secondary, $lightness: 90%)};
    }

    @if $tertiary != 0 {
      --color-tertiary: #{color.change($tertiary, $lightness: 80%)};
      --color-on-tertiary: #{color.change($tertiary, $lightness: 20%)};
      --color-tertiary-container: #{color.change($tertiary, $lightness: 30%)};
      --color-on-tertiary-container: #{color.change($tertiary, $lightness: 90%)};
    }

    @if $error != 0 {
      --color-error: #{color.change($error, $lightness: 80%)};
      --color-on-error: #{color.change($error, $lightness: 20%)};
      --color-error-container: #{color.change($error, $lightness: 30%)};
      --color-on-error-container: #{color.change($error, $lightness: 90%)};
    }

    @if $neutral != 0 {
      --color-background: #{color.change($neutral, $lightness: 10%)};
      --color-on-background: #{color.change($neutral, $lightness: 90%)};
      --color-surface: #{color.change($neutral, $lightness: 10%)};
      --color-on-surface: #{color.change($neutral, $lightness: 90%)};
      --color-surface-variant: #{color.change($neutral, $lightness: 30%)};
      --color-on-surface-variant: #{color.change($neutral, $lightness: 80%)};
      --color-outline: #{color.change($neutral, $lightness: 60%)};
    }
  }
}

.custom-theme {
  @include color-scheme(
    $primary: #3A691E,
    $secondary: #56624D,
    $tertiary: #1E686A,
    $neutral: #596B86,
    $error: #B12825
  );
}
