@mixin state-layer {
  position: relative;

  // State layer for interaction states
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: currentColor;
    opacity: 0;
    border-radius: inherit;
    pointer-events: none;
  }

  &:hover {
    &::after {
      opacity: var(--state-hover-opacity);
    }
  }

  &:focus {
    &::after {
      opacity: var(--state-focus-opacity);
    }
  }

  &:active {
    &::after {
      opacity: var(--state-press-opacity);
    }
  }
}
