@mixin state-layer {
  & {
    position: relative;
  }

  // State layer for interaction states
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: currentColor;
    opacity: 0;
    border-radius: inherit;
    pointer-events: none;
    transition-property: opacity;
    transition-duration: var(--transition-duration);
  }

  &:hover {
    &::after {
      opacity: var(--opacity-state-hover);
    }
  }

  &:focus {
    &::after {
      opacity: var(--opacity-state-focus);
    }
  }

  &:active {
    &::after {
      opacity: var(--opacity-state-press);
    }
  }
}
