<h1>Card</h1>

{% example %}
<div class="card">
  <div class="card__header">
    <h3 class="card__title">Card header</h3>
    <div class="dropdown" data-controller="dropdown">
      <button type="button" class="button button--icon" data-action="dropdown#toggle">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
      </button>
      <div class="dropdown__menu dropdown__menu--right">
        <a href="#" class="dropdown__item">Item</a>
        <a href="#" class="dropdown__item">Item</a>
        <a href="#" class="dropdown__item">Item</a>
      </div>
    </div>
  </div>
  <div class="card__body">
    Content text
  </div>
  <div class="card__footer">
    <button type="button" class="button button--text button--primary">Action 1</button>
    <button type="button" class="button button--text button--primary">Action 2</button>
  </div>
</div>
{% endexample %}
