<h1>Floating Action</h1>

{% example sandbox %}
<div class="floating-action">
  <button type="button" class="button button-floating">
    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
  </button>
  <div class="floating-action-menu">
    <a href="#" class="floating-action-item">
      <i class="material-icons">add</i> Item
    </a>
    <a href="#" class="floating-action-item">
      <i class="material-icons">add</i> Item
    </a>
    <a href="#" class="floating-action-item">
      <i class="material-icons">add</i> Item
    </a>
  </div>
</div>
{% endexample %}
