<h1>Lists</h1>

{% example %}
<div class="list">
  <a href="#" class="list-item">
    <div class="list-item-content">
      Single line text...
    </div>
  </a>
  <a href="#" class="list-item">
    <div class="list-item-content">
      Single line text...
    </div>
  </a>
  <a href="#" class="list-item">
    <div class="list-item-content">
      Single line text...
    </div>
  </a>
</div>
{% endexample %}

{% example %}
<div class="list">
  <a href="#" class="list-item">
    <div class="list-item-avatar">
      <img src="/images/avatar.png" alt="">
    </div>
    <div class="list-item-content text-overflow">
      <h4 class="list-item-content-primary">Primary text Primary text Primary text Primary text Primary text Primary text Primary text Primary text Primary text </h4>
      <p class="list-item-content-secondary">Secondary text Secondary text Secondary text Secondary text Secondary text Secondary text Secondary text Secondary text </p>
    </div>
    <div class="list-item-icon align-center">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>
    </div>
  </a>
  <a href="#" class="list-item">
    <div class="list-item-avatar">
      <img src="/images/avatar.png" alt="">
    </div>
    <div class="list-item-content text-overflow">
      <h4 class="list-item-content-primary">Primary text Primary text Primary text Primary text Primary text Primary text Primary text Primary text Primary text </h4>
      <p class="list-item-content-secondary">Secondary text Secondary text Secondary text Secondary text Secondary text Secondary text Secondary text Secondary text </p>
    </div>
    <div class="list-item-icon align-center">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>
    </div>
  </a>
  <a href="#" class="list-item">
    <div class="list-item-avatar">
      <img src="/images/avatar.png" alt="">
    </div>
    <div class="list-item-content text-overflow">
      <h4 class="list-item-content-primary">Primary text Primary text Primary text Primary text Primary text Primary text Primary text Primary text Primary text </h4>
      <p class="list-item-content-secondary">Secondary text Secondary text Secondary text Secondary text Secondary text Secondary text Secondary text Secondary text </p>
    </div>
    <div class="list-item-icon align-center">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>
    </div>
  </a>
</div>
{% endexample %}

{% example %}
<div class="list">
  <a href="#lists" class="list-item">
    <div class="list-item-icon">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>
    </div>
    <div class="list-item-content align-center">
      Item
    </div>
  </a>
  <a href="#lists" class="list-item">
    <div class="list-item-icon">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>
    </div>
    <div class="list-item-content align-center">
      Item
    </div>
  </a>
  <a href="#lists" class="list-item">
    <div class="list-item-icon">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>
    </div>
    <div class="list-item-content align-center">
      Item
    </div>
  </a>
</div>
{% endexample %}
